{{ range .Params.plans }}
  <div class="relative flex-auto fl mb4 w-100 w-30-ns ph4 pv3 mr4 gray bg-white shadow-5 nested-links">
    <div class="db v-mid">

        <h3 class="black">
          {{ .heading }}
        </h3>
        {{ if .copy}}
          <p class="lh-copy pb5">
            {{ .copy | markdownify }}
          </p>
        {{ end }}
        {{ if .price }}
          <div class="f3 dark-gray lh-copy absolute bottom-0 mv3">
            <sup class="f5">$</sup>{{ .price }} <span class="gray f6">{{ .price_qualifier }}</span>
          </div>
        {{ end }}


      {{ if .features }}
        <ul class="ma0 ph0 pv3">
          {{ range .features }}
            <li class="list tl mb2 f6">
              {{ . | markdownify }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
{{ end }}
