article.hentry {
  padding: 1.5em;
  margin:auto;
  max-width: $d-vp;
  //min-height: $c-vp;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  img {
  	max-width: 100%;
  }
    @include media($medium-screen-up) {
  	padding: 2em 5em;
  }
  li {
    list-style-type: square;
    margin-left: 1.3em;
    padding-left: 0.8em;
    text-indent: -0.5em;
    margin-bottom: .75em;
  }
}

hr{
margin:1em auto;
border: 0;
border-top: 1px solid #EEEEEE;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
position: absolute;
top: -9999px;
left: -9999px;
}
