//Base
@import

  "./node_modules/normalize.scss/normalize.scss",
  "./node_modules/normalize-opentype.css/normalize-opentype.scss",
  "bourbon/bourbon",
  "modules/grid-settings",//overrides bitters grid-settings
  "neat/neat",
  "base/base",
  "modules/mixins";

@import
  "vendor/fontello";

@import
  "modules/articles",
  "modules/accessibility",
  "modules/buttons",
  "modules/code",
  "modules/colors",
  "modules/flex-box",
  "modules/footer",
  "modules/hero",
  "modules/icons",
  "modules/layouts",
  "modules/links",
  "modules/navigation",
  "modules/navigation-sliding-menu",
  "modules/pagination",
  "modules/ribbon",
  "modules/utilities",
  "modules/utilities-iframes";
.bud {
  color: blue;
}
.right {
  text-align: right;
}
.flush {
  margin-bottom: 0;
}
.red {
  color: $tnd_red_brighter;
}
.red-background {
  background-color: $tnd_red_brighter;
  color: white;
}

.highlight {
  color: $tnd_red_brighter;
}

#mc-embedded-subscribe {
  background-color: $tnd_red_brighter;
  color: white;
}

#mc_embed_signup label {
  @include accessibility_hidden;
}


.heading {
  width: 100%;
  clear: both;
  margin: 1em auto;
}