<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h1 class="logo">
      <a href="/">
        {static is} The New Dynamic
      </a>
    </h1>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav-link">
          <a href="/">
            Links
          </a>
        </li> -->
        <!-- <li class="nav-link">
          <a href="/articles/">
            Articles
          </a>
        </li> -->
        <li class="nav-link more">
          <a href="/tools/">
            Tools
          </a>
{% comment %}

                  <ul class="submenu">
                      <li><a href="javascript:void(0)">Submenu Item</a></li>
                      <li><a href="javascript:void(0)">Another Item</a></li>
                      <li class="more"><a href="javascript:void(0)">Item with submenu</a>
                        <ul class="submenu">
                          <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                          <li><a href="javascript:void(0)">Another Item</a></li>
                        </ul>

 {% endcomment %}











        </li>
        <li class="nav-link">
          <a href="/showcase/">
            Showcase
          </a>
        </li>
        <li class="nav-link">
          <a href="/events/">
            Events
          </a>
        </li>
        <li class="nav-link">
          <a href="/job-board/">
            Job Board
          </a>
        </li>
      </ul>
    </nav>
    <ul class="secondary-links">
      <li class="nav-link">
        <a href="/about/">
          About
        </a>
      </li>
      <li class="nav-link">
        <a href="/submit/">
          Submit
        </a>
      </li>
    </ul>
  </div>
</header>
