{{/* 
	Outputs an image src depending on project's image solution (imgx, etc...).
	
	@author The New Dynamic
	
	@access public

	@context . [string] The src

	@example - Go Template
		<img src="{{ partial "_images/src" . }}" alt="">
*/}}
{{- $src := . -}}
{{/* If site's image_url config is set, we're using imgx and use the appropriate partial */}}
{{- with site.Params.image_url -}}
	{{- partial "_images/src--imgx" $src -}}
{{- else -}}
{{/* If not we can output the src as is */}}
	{{- $src -}}
{{- end -}}