description: Build Better Faster Websites with JAMstack tools and techniques
logo: ""
subtitle: Build Better Faster Websites
utm_medium: website
utm_source: thenewdynamic.org
fathom_id: FZDREAIY

# ###############
# TND SEO
# https://github.com/theNewDynamic/hugo-module-tnd-seo#settings
# ###############
tnd_seo:
  default_image: /images/tnd-logo-card.png
  jsonld: true
  enable_follow: true
  disable_title: false

# ###############
# TND STYLES
# https://github.com/theNewDynamic/hugo-module-tnd-styles#fonts
# ###############
tnd_styles:
  fonts:
  - family: URW Franklin Gothic W01
    file: fonts/urw-franklin-gothic-w01-700
    weight: 700
    style: normal

# ##############f#
# TND SCRIPTS
# https://github.com/theNewDynamic/hugo-module-tnd-scripts
# ###############
tnd_scripts:
  scripts:
    - name: main
      path: /js/index.js


# ###############
# TND MEDIA
# https://github.com/theNewDynamic/hugo-module-tnd-media#settings
# If used in combination with imgix:
# https://github.com/theNewDynamic/hugo-module-tnd-imgix#settings
# ###############
tnd_media:
  storage: bundle
  # If imgix is used:
  imgix: 
    domain: thenewdynamic-org.imgix.net
    defaults:
      auto: format
      ch: Width,DPR
      q: 95

# ###############
# TND SOCIALS
# https://github.com/theNewDynamic/hugo-module-tnd-socials#configure
# ###############
tnd_socials:
  services:
  - name: meetup
    handle: JAMstack-nyc
    url: https://www.meetup.com/JAMstack-nyc/
  - name: slack
    handle: thenewdynamic
    url: https://join.slack.com/t/thenewdynamic/shared_invite/enQtMjkwNjYwNTY0NjkxLTFkNGQ1YjMwZGNjNjY0YzY4MmM2YTBhZTY0YjkyOTBmYmE4NjMwY2M3ODMzZDIwNzg2ZTBkZjdjYjVlM2Q2ZDA
  - name: twitter
    handle: thenewdynamic
  - name: youtube
    handle: thenewdynamic

# ###############
# TND FORMS
# ###############
tnd_forms:
  css:
    form: 'my-10 mx-auto'
    control: mb-3
    hidden: 'hidden'
    submit: block w-full mt-6 border border-green-500 bg-green-200
    input: border
    textarea: border
    select: block border w-fullw
    select_wrapper: inline-block relative w-full mb-3

# ###############
# TND REDIRECTS
# https://github.com/theNewDynamic/hugo-module-tnd-redirects#api
# ###############
tnd_redirects:
  use_aliases: true
  rules:
  # Following rule for production
  # - origin: https://that-project.netlify.com/*
  #   target: https://www.that-project.com/:splat
  #   code: 301
  #   force: true
  - origin: /jamstack-tools-cms-git
    target: /?jamstack-tools%5BrefinementList%5D%5Btool_type%5D%5B0%5D=Content%20Management&jamstack-tools%5BrefinementList%5D%5Bdata_model%5D%5B0%5D=Git-based
  - origin: /jamstack-tools-cms-api
    target: /?jamstack-tools%5BrefinementList%5D%5Btool_type%5D%5B0%5D=Content%20Management&jamstack-tools%5BrefinementList%5D%5Bdata_model%5D%5B0%5D=API-based
  - origin: /jamstack-tools-interaction-commerce
    target: /?jamstack-tools%5BrefinementList%5D%5Btool_type%5D%5B0%5D=Interaction&jamstack-tools%5BrefinementList%5D%5Binteraction_type%5D%5B0%5D=commerce
  - origin: /jamstack-tools-ssg-opensource
    target: /?jamstack-tools%5BrefinementList%5D%5Btool_type%5D%5B0%5D=Static%20Site%20Generator&jamstack-tools%5BrefinementList%5D%5Blicense%5D%5B0%5D=Open%20Source

# ###############
# TND Search
# https://github.com/theNewDynamic/hugo-module-tnd-search/tree/master#settings
# ###############
tnd_search:
  service: algolia
  params:
  - description
  instantsearch:
  - name: tools
    #indexName: tnd-dev
    #appId: https://search.thenewdynamic.dev
    #apiKey: daa081e4233fac2f641033885a79f622cf60e1d83450417498a468bd18ddf274
    indexName: jamstack-tools-v2
    appId: EGKL8BPJHJ
    apiKey: 542f26c0c09bbd36ee0979cd0895c48a
    widgets:
      - name: searchBox
        placeholder: "Search for Jamstack tools"
        js: searchBox
        showReset: 0
        showSubmit: 0
        classes:
          input: block border -mt-4 w-full h-full pl-8 pr-3 py-2 rounded text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm
      - name: hits
        classes:
          item: tool_type w-full border text-3xl
          list: w-full m-0 sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4
        templates:
          item: |
            <a href="{{uri}}" class="bg-white rounded-b block w-full h-full no-underline shadow-md hover:shadow-xl">
            <div class="{{primary_section}}">
              <div class="px-2 py-1 text-xs font-semibold uppercase">{{tool_type}}</div>
            </div>
              <div class="p-3">
              <h2 class="font-bold text-xl text-gray-700 leading-tight mb-2">
                {{title}}
              </h2>
              <p class="text-sm text-gray-700">{{description}}</p>
              </div>
            </a>
          empty: |
            <h3 class="text-2xl">No results for <q>{{query}}</q></h3>
      - name: clearRefinements
        container: '#clear-refinements'
        templates:
          resetLabel: Clear filter
      - name: refinementList
        container: "#refinement-tool_type"
        attribute: tool_type
        limit: 25
        js: refinementBase
      - name: refinementList
        attribute: interaction_type
        container: "#refinement-interaction_type"
        limit: 25
        js: refinementBase
      - name: refinementList
        attribute: data_model
        container: "#refinement-data_model"
        limit: 25
        js: refinementBase
      - name: refinementList
        attribute: license
        container: "#refinement-license"
        limit: 25
        js: refinementBase
      - name: refinementList
        attribute: tags
        container: "#refinement-tags"
        limit: 10
        showMoreLimit: 50
        showMore: true
        js: refinementBase
      - name: stats
        classes:
          text: mr-2 font-medium text-base text-gray-700
        templates:
          text: |
            {{#hasNoResults}}No tools{{/hasNoResults}}
            {{#hasOneResult}}1 tool{{/hasOneResult}}
            {{#hasManyResults}}{{#helpers.formatNumber}}{{nbHits}}{{/helpers.formatNumber}} tools{{/hasManyResults}}
