<form role="search" action="/search-results/" method="get" data-search-index="false" class="bg-near-white col-12 m0 fit clearfix">
  <button type="submit" class="font-family-primary line-height-1 bg-transparent white m0 py1 pl3 h5 muted">
    <img src="/uploads/site/ic_search_black_24px.svg" alt="Search Icon" class="inlne-block secondary-text-color">
  </button>
  <input type="search" aria-label="search" autocomplete="off" placeholder="search" name="query" id="search-box"
  class="col-10 mt1 py1 pr2 pl0 lg-px2 xlg-wide not-rounded rounded-left h4 font-family-primary disabled-text-color hover-white border-muted"/>
</form>


<style media="screen">
  input.col-10:focus {

    opacity: .5;
  }
</style>
