
<style>

/*Visual indicator that a field is required*/
textarea:required:invalid, input:required:invalid {
  background-color: lightyellow;
}
/*Visual indicator that a field has been entered correctly */
textarea:required:valid, input:required:valid {
  background-color: lightgreen;
  color:white;
}
/*Visual indicator that a field has content but not right */
input:invalid:not(:focus):not(:placeholder-shown) {
  background-color: red;
}
/* Specific indication that the content is not right */
.submitted input[type="email"]:invalid + .feedback::after { content: 'That doesn\'t look like a valid email address'; }
.submitted input.link:invalid + .feedback::after { content: 'That doesn\'t look like a valid link'; }
.feedback { margin-top:-6px;color:red;clear: both;display: block;margin-bottom:7px;}

/*input:invalid + label::after { content: ' ⨉'; }*/
/*input:valid + label::after { content: ' ✓'; }*/

.submitted input:invalid { background-color: rgba(255,0,0,0.25); }
.submitted input:valid { background-color: rgba(0,255,0,0.25); }




/*input:valid + label::after { content: '( ✓ thank you)'; }*/



/*.submitted input:invalid { background-color: rgba(255,0,0,0.25); }
.submitted input:valid { background-color: rgba(0,255,0,0.25); }*/
/*.submitted input:invalid + label::after { content: ' ⨉'; }
.submitted input:valid + label::after { content: ' ✓'; }*/

</style>


<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
    document.forms[0].addEventListener('submit',function(e){
        e.preventDefault();
        e.currentTarget.classList.add('submitted');
    });
});

</script>
