.nested ul {
	@apply mb-32;
}
.nested li {
	@apply mb-2 text-grey-darkest;
}

.nested p,
figure {
	@apply mb-4 leading-normal;
}
.nested a {
	@apply text-primary-color;
}

.nested hr {
	@apply border-grey my-16;
}
.nested h2 {
	@apply mt-6 mb-4 text-xl;
}

@screen sm {
	.nested h2 {
		@apply mt-6 mb-4 text-3xl;
	}
}
.nested h3 {
	@apply mb-5 mt-6;
}
.nested h4 {
	@apply mb-2 mt-5;
}
.nested ul,
.nested ol {
	@apply my-8;
}
.nested li {
	@apply mb-2;
}
.nested blockquote {
	@apply border-l-2 pl-4;
}
