[submodule "components/layouts-base"]
	path = components/layouts-base
	url = https://github.com/theNewDynamic/hugo-layout_module-base-2019.git
[submodule "components/seo"]
	path = components/seo
	url = https://github.com/theNewDynamic/hugo-component-tnd-seo.git
