---
layout: full-width
class: home
---

<div class="post-box">
	<h2>Latest Posts <a href="/archive/"><small>see all &raquo;</small></a></h2>
	{% include post-list.html limit="2"%}
</div>
<div class="post-box post-box-odd">
	<h2>Links <a href="/links/"><small>see all &raquo;</small></a></h2></h2>
	{% include links-list.html limit="2"%}
</div>
<div class="post-box">
	<h2>Resources <a href="/resources/"><small>see all &raquo;</small></a></h2></h2>
	{% include resources-list.html limit="2"%}
</div>
