{% extends "templates/partials/base.html" %}

{% block content %}
  <div class="layout-2-column">
    <aside class="left"> 
      {% block content_aside_left %}     
        <h4>The Static Web: Static Site Generators <small>and the Post-CMS paradigm</small></h4>
        {% include "templates/partials/button-choose-a-tool.html" %}
        {# <div class="large-screen"><hr />{% include "templates/partials/twitter-timeline.html" %}</div> #} 
        {% include "templates/partials/form-mailchimp.html" %}
      {% endblock %} 
    </aside>
    <article> 
      {% block content_center %}   
        {% set data = cms.links %}
        {% set data = data|sort('publish_date', true) %}         
        <div id="filter-container">
          <input class="search" type="search" placeholder="filter by name, source, or tool" />
          <ul class="links links-external filter-list">
            {% for object in data %}    
              {% include "templates/partials/format-links.html" %}
            {% endfor %}
          </ul>
          <div class="pagination">
            <ul class="pagination-list"></ul>
          </div>
        </div>
      {% endblock %}  
    </article>
  </div>
{% endblock %}
