{% extends "templates/partials/base-layout-3-column.html" %}
{% set prev = prevItem(item, 'publish_date') %}
{% set next = nextItem(item, 'publish_date') %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content_aside_left %}      
  {% if item.tool %}
    <br />
    
    {% for object in item.tool %}
      <h6 class="list"><a href="{{ url(object) }}">{{ object.name }}</a> </h6> 
    {% endfor %}
  {% endif %}
  {% include "templates/partials/form-mailchimp.html" %}
{% endblock %} 

{% block content_center %} 
  <h1>{{ item.name }}</h1>
  <div class="copyTK">    
    {% if item.copy %}
      {{ item.copy|safe }}
    {% elseif item.markdown_text %}
      {{ item.markdown_text|markdown }}
    {% endif %}      
  </div>
{% endblock %}  

{% block content_aside_right %}   
  <ul>
    <li>
      <strong>Published: </strong><br />
      {{ item.publish_date|date('F d Y') }}
    </li>
  </ul>   
  {% include "templates/partials/prev-next.html" %}
{% endblock %} 