{% if item.type_of_tool %}
  <h5>{{ item.type_of_tool }}</h5>
{% endif %}


{% if item.category %}
<p>

{% for category in item.category %}<small class="light type"><a href="{{ url(category) }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}</small>{% endfor %}

</p>
{% endif %} 


<ul>
  {% if item.summary %}
    {{ item.summary|markdown}}
  {% endif %}
  {% include "templates/partials/format-links-grid.html" %}
</ul>

{% set showcase = item.showcase_tools|slice(0,3) %}
{% set showcase_text = item.showcase_tools|slice(3,100) %}

{% if showcase %}
  <hr />
  <h6>Showcase Sites</h6>
{% endif %}

{% for relation in showcase %}
  {% for image in relation.images %}            
    <a href="{{ url(relation) }}">
      <img src="{{ image|imageCrop(400, 225) }}" style="border:1px solid #ddd;">
    </a>
    <small>{{ relation.name }}</small>    
  {% endfor %}
  <hr />
{% endfor %}

{% if showcase_text.length > 1 %}
  <p>more sites</p>
{% endif %}

{% for relation in showcase_text %}
  <small><a href="{{ url(relation) }}">{{ relation.name }}</a></small><br />
{% endfor %}

