<li class="flex-boxTK" style="border-top-color:{% if item.category %}{% set category = item.category|first %}{% if category.color %}{{ category.color }}{% else %}#f6f6f6{% endif %}{% endif %};">
  {% if item.category %}{% for category in item.category %}<small class="light type">{{ category.name }}{% if not loop.last %}, {% endif %}</small>{% endfor %}{% endif %} 
  {% set links = item.links_tool %}  
  {% set articles = item.articles_tool %}  
  {% if item.summary %}{{ item.summary|markdown}}{% endif %}
  {% for image in item.images %}            
    <img src="{{ image|imageSize(1600, 900) }}" style="border:1px solid #ddd;max-width:111%;margin-left:-5.5%;">
    <div>{{ image.caption }}</div>            
  {% endfor %}
  {% if item.about_the_project %}
    <br />
    <h4>About the Project</h4>
    <div class="copy-summary">{{ item.about_the_project|safe }}</div>
  {% endif %}
</li>