{% set tools = object.tools %}
<li class="flex-box" style="border-top-color:{% if object.category %}{% set category = object.category|first %}{% if category.color %}{{ category.color }}{% else %}#f6f6f6{% endif %}{% endif %};">
  <a href="{{ url(object) }}">
    <h4 class="name flex-title" style="min-height:53px;">
      {{ object.name }}
    </h4>  
    {% for image in object.images %}            
      <img src="{{ image|imageCrop(400, 225) }}" style="border:1px solid #ddd;">
      <div>{{ image.caption }}</div>            
    {% endfor %}
    {% if object.about_the_project %}
    <div>  <small><a href="{{ url(object) }}" class="red">&raquo; read developer notes &laquo;</a></small></div>
    {% endif %}
    <div class="light meta">

      {% if tools %}
        {% for object in tools %}
          <button><a href="{{ url(object) }}">{{ object.name }}</a></button>
        {% endfor %}
      {% endif %}
    </div>
  </a>
</li>