<!-- Make Sure Validation Code for email is included in the header. form uses Akismet  -->

  {# old api code fe66b7fa85589726647ef0eaa73b9c3b
settings: https://getsimpleform.com/forms/f9cd465779e7eb24874a614fe78135d1/edit
  #}
<form action="https://getsimpleform.com/messages?form_api_token=440305edbb33af6025ea705ccecf90b1" method="post" role="form">
  <input type='hidden' name='redirect_to' value='http://sonnetmedia.net/about/contact/' />

    <label>Name</label>
    <input tabindex="6" type="text" name="name" id="name" class="nice_form" size="40" maxlength="35" />


    <label>Email Address</label>
    <input tabindex="7" type="text" name="email" id="email" onblur="validateEmail(value)" class="nice_form" size="40" maxlength="35" />
    <span class="error" id="emailError" style="display: none;">Please use a valid email address</span>
    <label>A Note about your Project</label>
      <textarea tabindex="8" name="message" class="nice_form"></textarea>

    <input type="submit" class="button tiny radius" />

</form>
