{% if item.type_of_tool %}
  <h5>{{ item.type_of_tool }}</h5>
{% endif %}

<ul>
  {% if item.summary %}
    {{ item.summary|markdown}}
  {% endif %}
  {% if item.links %}
    {% for object in item.links %}
      <li class="listings">
        <a href="{{ object.link }}">{{ object.name}} <i class="icon-ion-android-open smaller"></i></a>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% if item.showcase_tools %}
  <hr />
  <h6>Showcase Sites</h6>
{% endif %}

{% for relation in item.showcase_tools %}
  <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
