var options = {
  valueNames: [ 'name','slug' , 'summary', 'date', 'tool', 'tool1', 'tool2', 'tool3', 'tool4', 'tool5', 'source', 'video'],
  listClass: 'filter-list',  
  //plugins: [ ListPagination({ paginationClass: "pagination-list" }) ], 
  page: 2000 // how many items should first show up on the page - affects performance
};

var linksList  = new List('filter-container', options);


var updateList = function(){
  var values_date = $(".date_s").val()
  var values_name = $(".name_s").val()
  
  linksList.filter(function(item) {
    return (_(values_date).contains(item.values().born) || !values_date) 
           && (_(values_name).contains(item.values().name) || !values_name)
  });
}
                               
$(function(){
  updateList();
  $(".date_s").change(updateList);
  $(".name_s").change(updateList);
  
  var all_born = [];
  var all_name = [];

  _(linksList.items).each(function(item){
    all_born.push(item.values().born)
    all_name.push(item.values().name)  
  });
  
  _(all_born).uniq().each(function(item){
    $(".date_s").append('<option value="'+item+'">'+ item +'</option>')
  });
  _(all_name).uniq().each(function(item){
    $(".name_s").append('<option value="'+item+'">'+ item +'</option>')
  }); 
  
  $('select').each(function(){
    $(this).multipleSelect({
      onClick: updateList,
      selectAll: false,
      placeholder: $(this).data('placeholder')
    });
  });
  
});