<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h1 class="logo">
      <a href="/">
        {static is} The New Dynamic
      </a>
    </h1>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% include "templates/partials/navigation-links.html" %}
      </ul>
    </nav>
    
    
      <ul class="secondary-links">
        <li class="nav-link"><a href="/about/">About</a></li>
        <li class="nav-link"><a href="/submit/">Submit</a></li>
      </ul>      
    
  </div>
</header>
