{# This template is used for paginations on $content-type/list.html pages #}

{% set curPage = getCurPage() %}
{% set maxPage = getMaxPage() %}

{% if maxPage > 1 %}

<ul>

  {% if curPage > 1 %}
  <li><a href="{{ getPageUrl(curPage - 1) }}">&laquo;</a></li>
  {% endif %}

  <li {% if curPage == 1%}class="active"{% endif %}><a href="{{ getPageUrl(1) }}">1</a></li>

  {% if curPage > 4 %}
    <li>...</li>
  {% endif %}

  {% if curPage > 3 %}
  <li><a href="{{ getPageUrl(curPage - 2) }}">{{ curPage - 2 }}</a></li>
  {% endif %}
  {% if curPage > 2 %}
  <li><a href="{{ getPageUrl(curPage - 1) }}">{{ curPage - 1 }}</a></li>
  {% endif %}

  {% if curPage != 1 && curPage != maxPage %}
  <li class="active"><a href="{{ getPageUrl(curPage) }}">{{ curPage }}</a></li>
  {% endif %}

  {% if curPage < maxPage - 1 %}
  <li><a href="{{ getPageUrl(curPage + 1) }}">{{ curPage + 1 }}</a></li>
  {% endif %}
  {% if curPage < maxPage - 2 %}
  <li><a href="{{ getPageUrl(curPage + 2) }}">{{ curPage + 2 }}</a></li>
  {% endif %}

  {% if curPage < maxPage - 3 %}
    <li>...</li>
  {% endif %}

  <li {% if curPage == maxPage %}class="active"{% endif %}><a href="{{ getPageUrl(maxPage) }}">{{maxPage}}</a></li>

  {% if curPage < maxPage %}
  <li><a href="{{ getPageUrl(curPage + 1) }}">&raquo;</a></li>
  {% endif %}


</ul>

{% endif %}
