<dl class="border-2 border-grey-lighter bg-white">
  <a href="{{uri}}" class="block no-underline text-black hover:opacity-90">
    <div class="bg-grey-darkTK flex justify-between px-3 py-2 text-xs text-white  bg-grey-dark">
      <dt class="text-sm main-category">
        {{category}}
      </dt>
    </div>
    <div class="p-3">
      <dt class="title bold text-lg near-black">
        {{title}}
      </dt>
      <dd class="description nested-links text-sm no-underline leading-normal nested-copy-line-height">
        {{description}}
      </dd>
    </div>
  </a>
</dl>
