<div>
  <div class="bg-grey-light px-3 py-2 text-xs">
    {{- with .Params.tools -}}
      {{- range first 1 . -}}
        {{- . -}}
      {{- end -}}
    {{- end -}}

    {{$links := where .Site.RegularPages ".Section" "link"}}
    {{$related_links := $links.RelatedTo (keyVals "tool" .File.TranslationBaseName)}}
    {{if ge ($related_links | len) 1}}
      {{$related_links | len}}
    {{end}}

  </div>
  <div class="p-3">
    <h1 class="text-lg near-black">
      <a href="{{ .URL }}" class="no-underline text-black dim">
        {{- .Title -}}
      </a>
    </h1>
    <div class="nested-links text-base no-underline leading-normal nested-copy-line-height">
      {{- .Params.description -}}
    </div>
  </div>
</div>
