{{ with .Site.Params.image_url }}
  <link rel="dns-prefetch" href="{{.}}">
{{ end }}
{{ with .Site.GoogleAnalytics }}
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
{{ end }}

{{ $assets := .Site.Data.assets }}  
{{ with $assets.main }}
	<script type="text/javascript" src="{{ print .js | default "/js/main.js" }}" {{ with .jsIntegrity }}integrity="{{ print . }}" crossorigin="anonymous"{{ end }} defer></script>
{{ end }}


<link rel="preconnect" href="https://EGKL8BPJHJ-dsn.algolia.net" crossorigin />