{{ with .Site.Params.image_url }}
  <link rel="dns-prefetch" href="{{.}}">
{{ end }}
{{ with .Site.GoogleAnalytics }}
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
{{ end }}

{{ $assets := .Site.Data.assets }}  
{{ with $assets.main }}
	<script type="text/javascript" src="{{ print .js | default "/js/main.js" }}" {{ with .jsIntegrity }}integrity="{{ print . }}" crossorigin="anonymous"{{ end }} defer></script>
{{ end }}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>