{{ define "main" }}
{{ $globalVariables := .Site.Data.globals }}
  <article class="cf pa3 pa4-m pa4-l nested-copy-line-height nested-img">
    <h1>
      {{ .Title }}
    </h1>
    <div class="{{ .Site.Params.copyClass }}">
      {{ .Content }}
    </div>

    <!-- TODO: Paginate posts -->

      {{ $section_classes := $globalVariables.section_two_column_classes }}
      {{ $interior_classes := $globalVariables.section_two_column_classes_interior }}
      <section class="{{ $section_classes }} w-100 mt5 v-top">
        {{ range sort (where .Data.Pages "Section" .Section) "Date" "desc"  }}
          {{ partial "section-boxes" (dict "context" . "classes" $interior_classes "fullcontent" true ) }}
        {{ end }}
      </section>

  </article>
  <!-- w-100 w-40-ns -->
{{ end }}
