{{ $currentPage := . }}

<header>
  <div class="pb3 ">
    {{ partial "global/navigation.html" . }}
    <div class="py-3 px-3 lg:px-4 bg-grey-light">
      <h1 class="dib-ns text-4xl lh-title text-grey-dark ma0">
        {{/* {{ humanize .Section  | default .Title }} */}}
        {{ range .Site.Menus.main }}
          {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ .Name }}
          {{end}}
        {{ end }}
      </span>
      </h1>
      {{ with .Params.description }}
        <h2 class="dib-ns text-lg lh-copy text-grey-darker measure-wide-l pl4">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
