{{ $currentPage := . }}
<nav class="bg-primary-colorTK pb-1 pt-2" role="navigation">
  <div class="mx-auto flex flex-wrap justify-between items-center max-w-5xl pl-4 pr-3">

    <div>
      <h1 class="font-brand inline-block p-0 mb-2 lg:mb-3 lg:mr-3">
        <a href="/" class="hover:text-black text-3xl no-underline text-primary-color">
          {{- .Site.Title -}}
        </a>
      </h1>
      <div class="lg:inline-block text-sm font-thinTK text-primary-color">
        {{- .Site.Params.subtitle -}}
      </div>
    </div>

    {{- if .Site.Menus.main -}}
      <ul class="p-0 mt-4 md:mt-0">
        {{- range .Site.Menus.main -}}
        <li class="inline-block text-lg h-full mb-3 sm:mb-0">
          <a class="font-brand text-sm hover:text-black no-underline pointer pr-4 py-4{{if $currentPage.IsMenuCurrent "main" . }} text-primary-color{{else}} text-grey-dark{{ end}}" href="{{ .URL }}" title="{{ .Name }} page">
            {{- .Name -}}
          </a>
        </li>
        {{- end -}}
      </ul>
    {{- end -}}

    <div class="hidden lg:flex flex-wrap items-center">
      {{- partial "social-follow.html" . -}}
    </div>

  </div>
</nav>
