{{ $currentPage := . }}
<nav class="bg-primary-color pb-1 pt-2" role="navigation">
  <div class="mx-auto flex flex-wrap justify-between items-center max-w-5xl pl-4 pr-3">

    <h1 class="font-brand m-0">
      <a href="{{ .Site.BaseURL }}" class="dim dib text-2xl mr-3 no-underline text-white">
        {{ .Site.Title }}
      </a>
      <span class="text-sm font-thin text-white">{{ .Site.Params.subtitle }}</span>
    </h1>


    {{ if .Site.Menus.main }}
      <ul class="p-0">
        {{ range .Site.Menus.main }}
        <li class="inline-block text-lg h-full">
          <a class="text-sm hover:text-white no-underline text-grey-light pointer pr-4 py-4{{if $currentPage.IsMenuCurrent "main" . }} white{{ end}}" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

    <div class="flex flex-wrap items-center">
      {{ partial "social-follow.html" . }}
    </div>

  </div>
</nav>
