<header class="sans-serif">
  <div class="cover bg-center" style="background-image: url({{ .Params.featured_image }})">

    <div class="bg-black-10 pv2 pv3-m pv6-l">
            <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h1 class="f2 fw7 f1-l fw2 white mb0 lh-titledn" style="text-shadow: 1px 0 1px #242424;">
           Civic Hall Membership Guide
        </h1>
        <h2 class=" f3 white-80 mt3 mb4 nested-links">
          <a href="{{ .Site.Params.map_link }}" class="link " title="Google Maps - opens in new window">Link to Map <span class="ba br2">&#x2197;</span></a>
        </h2>

      </div>
    </div>
  </div>
</header>
