body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

html.wf-loading body{
  //@include transition (all .2s ease-out);
  @include transition (all .1s ease-out);
}

html.wf-active body{

  //opacity: 1;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  color: $base-heading-color;
  font-weight: 700;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: modular-scale((6 - $i), 1em, 1.1);
  }

  @include media($large-screen) {
  h#{$i} {
    font-size: modular-scale((6 - $i), 1em, 1.25);
  }
}
}

p {
  margin: 0 0 $small-spacing;
  font-weight: 400;
}

// article p {
//   font-size: 1.0625em;
// }

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
      color: $tnd_red_brighter;
    }

    &:active,
    &:focus {
      outline: none;
    }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
small, .small {
  font-size: .875em;
}

.smaller {
 font-size: .75em;
}

.title {
  margin-bottom: .125em;
}

.light, .deemphasize {
  color:#777;
}

.copy-summary {
  text-align: left;
  color: $black;
    a {
      border-bottom: 1px dashed #ccc;
      color: $tnd_red_brighter;
    }

}
code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.875em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }
