@font-face{
    font-family:"URW Franklin Gothic W01";
    src:url("/fonts/011200c5-40ca-4ab0-98e6-d675a122d5e0.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }