
<div id="revue-embed" class="border bg-grey-lighter my-16 mx-auto md:max-w-xs p-4 rounded">
    <p class="font-bold mb-8">Sign up for our weekly <a href="https://www.getrevue.co/profile/thenewdynamic/" class="no-underline">newsletter</a></p>
  
    <form action="https://www.getrevue.co/profile/thenewdynamic/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <div class="revue-form-group">
      <label class="block text-grey-darker text-sm font-bold mb-1" for="member_email">Email address</label>
      <input class="revue-form-field mb-4 appearance-none border rounded w-full py-2 px-3 text-grey-darker" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
    </div>
    <div class="revue-form-group">
      <label class="block text-grey-darker text-sm font-bold mb-1" for="member_first_name">First name <span class="optional">(Optional)</span></label>
      <input class="revue-form-field mb-4 appearance-none border rounded w-full py-2 px-3 text-grey-darker" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
    </div>
    <div class="revue-form-group">
      <label class="block text-grey-darker text-sm font-bold mb-1" for="member_last_name">Last name <span class="optional">(Optional)</span></label>
      <input class="revue-form-field mb-4 appearance-none border rounded w-full py-2 px-3 text-grey-darker" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
    </div>
    <div class="revue-form-actions mt-4">
      <input class="bg-primary-color hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
    </div>
    </form>
  </div>
  