<article class="h-entry mx-auto max-w-lg py-2 lg:pt-5 px-4">
  {{- partial "_components/page-heading.html" . -}}

  <section class="nested-copy-line-height leading-normal text-xl nested-no-underlines nested-imgTK mid-gray">

  {{ if (or (eq .Section "article") (eq .Section "event")) }}
    {{ if .Date }}
      {{ partial "_components/time.html" (dict "context" . "show_time" false) }}
    {{ end }}
  {{ end }}

    {{partial "_components/image-article.html" .}}
    {{/* {{partial "_components/description.html" .}} */}}
    {{ with .Content }}
      <div class="text-base">
        {{ . }}
      </div>
    {{ end }}


    {{partial "_components/venue.html" .}}

    {{partial "_components/link-to-original.html" (dict "item" .)}}
  </section>
</article>
