{{ define "header" }}
  {{ partial "tools/header.html" .}}
{{ end }}

{{ define "main" }}
  {{ $section := (.Paginate (.Data.Pages.ByTitle)).Pages }}

  <article class="center nested-copy-line-height nested-img mw8 pa3 pa4-ns ">
    {{ partial "_components/content.html" .}}


    {{/* {{ range $section }}

      {{ $tags := .Site.Taxonomies.tags }}

        {{ $this := where ($tags) "." .Params.tags  }}

        {{ }}

    {{ end }} */}}

    <div class=" wrapper">
      {{ partial "tools/section.html" (dict "section" $section) }}
      {{ partial "tools/sidebar.html" . }}
    </div>
    {{/* {{ template "_internal/pagination.html" . }} */}}
  </article>
{{ end }}
