<li style="margin-bottom:1em;">
  <a href="{{ object.link }}{{ site.utm_parameters_links }}" target="_blank">
    <div style="width:100%;">
      <span class="name">{{ object.title }}</span>
      {% if object.source %} <small style="color:#777;" class="source">by {{ object.source }}</small>{% endif %}
      <span class="type hide">{% if object.type %}{{ object.type }}{% endif %}</span>
      <span class="recommended">{% if object.editor_recommends %}
        <i class="icons-ion-ios-star-outline"></i>
        {% endif %}</span>
      {% if object.video %}
      <i class="icons-ion-ios-videocam-outline"></i>
      {% endif %}
    </div>
  </a>
  <span class="more">
    <em>
      {{ object.date |date: '%b %d, %y' }}
    </em>
    {% if object.content %}
    <br />
     {{object.content | markdownify }}
    {% endif %}
    {% if object.video %}
    <small class="video">VIDEO</small>
    {% include snippets/icon-video.html %}
    {% endif %}
  </span>
  </a>
</li>