{% assign tools_used = object.tool  %}
{% assign current_date = site.time | date: "%Y%m%d" %}
{% assign event_date = object.start_at | date: "%Y%m%d" %}
<li class="flex-box{% if forloop.index == 1 %} flex-box-big{% endif %}" style="border:1px solid #eee;">
  <a href="{{ object.url }}">
    {% if event_date >= current_date %}
      <div class="ribbon-wrapper">
        <div class="ribbon">Upcoming!</div>
      </div>
    {% endif %}
    <h4 class="flush name flex-title">
      {{ object.title }}
      {% if object.video %}
       &nbsp;{% include snippets/icon-video.html %}
      {% endif %}
    </h4>
    {% if object.start_at %}
      <h5 class="deemphasize">
        {% if event_date >= current_date %}
          {{ object.start_at | date: "%A, %b %d" }}
          {{ object.start_at | date: "@  %I:%M %p" | replace: ' 0', '' | downcase }}
        {% else %}
          {{ object.start_at | date: "%b %d, %Y" }}
        {% endif %}
      </h5>
    {% endif %}
    {% if object.category %}<span class="type hide">{{ object.category  }}</span>{% endif %}
    {% if object.meetup %}
      {% capture meetup_slug %}/meetups/{{ object.meetup}}/{% endcapture %}
      {% assign meetups = site.meetups | where: 'url', meetup_slug %}
      {% assign meetup = meetups[0] %}
        {{ meetup.title }}
    {% endif %}
    {% if object.description %}
      {{ object.description | markdownify }}
    {% endif %}
  </a>
</li>