<style type="text/css">
@font-face{font-family:"URW Franklin Gothic W01_n7";src:url("/assets/fonts/c40605b0-5302-4f69-9ad6-dd7f8f27f1a0.eot?#iefix") format("eot")
}@font-face{font-family:"URW Franklin Gothic W01";src:url("/assets/fonts/c40605b0-5302-4f69-9ad6-dd7f8f27f1a0.eot?#iefix");src:url("/assets/fonts/c40605b0-5302-4f69-9ad6-dd7f8f27f1a0.eot?#iefix") format("eot"),url("/assets/fonts/011200c5-40ca-4ab0-98e6-d675a122d5e0.woff2") format("woff2"),url("/assets/fonts/447deeb7-22d1-417c-add1-e22d48b874df.woff") format("woff"),url("/assets/fonts/b222db6a-478d-4191-a8cb-5d4020b858a7.ttf") format("truetype"),url("/assets/fonts/0439968a-ef1e-4f09-a523-d77031577e51.svg#0439968a-ef1e-4f09-a523-d77031577e51") format("svg");font-weight: 700;font-style: normal;}
/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install redistribute, convert, modify or reverse engineer this font software. Please contact Monotype Imaging with any questions regarding Web Fonts:  http://www.fonts.com */
</style>
<script type="text/javascript">
var MTIProjectId='0279604d-1ddd-4c0d-b491-eff8ca0e76df';
 (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
        mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
   })();
</script>

