{% assign links = site.links | sort: 'date' | reverse  %}
{% assign this_tool = page.url | replace: '/tool/','' | replace: '/', '' %}
{% assign count = '0' %}
<ul class="links links-external filter-list" style="margin:4em 0;">
{% for object in links %}
  {% if object.tool contains this_tool %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if count == '1' %}
      <h3>
        {{ page.title }} Links
      </h3>
    {% endif %}
    {% include _links.html %}
  {% endif %}
{% endfor %}
</ul>
