<form class="pv4 black-80" name="contact" action="thank-you" netlify>
    <p>
      <label for="name" class="f6 b db mb2">Name</label><span class="f6 red message"></span>

      <input id="name" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" type="text" name="name" required pattern="banana|cherry">
      <span class="f6 red warning">Not yet a valid name</span>
      <span class="f6 green success">You did it!</span>

    </p>


    <p>
      <label for="email" class="f6 b db mb2">Email</label>
      <input id="email" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" type="email" name="email" required pattern="^\S+@\S+\.\S+$">
      <span class="f6 red warning">Not yet a valid email address</span>
      <span class="f6 green success">You did it!</span>
    </p>





    <label for="comment" class="f6 b db mb2">Comments
      <!-- <span class="normal black-60">(optional)</span> -->
    </label>
    <textarea id="comment" name="comment" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" aria-describedby="comment-desc"></textarea>
    <!-- <small id="comment-desc" class="f6 black-60">Helper text for a form control. Can use this text to <a href="#" class="link underline black-80 hover-blue">link to more info.</a></small> -->

<div class="">
  <button class="f5 f5-l button-reset fl mt3 pv3 tc bn bg-animate bg-primary-color hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns">Send</button>
</div>

  </div>
</form>

<!--
1) don't show anything.
2) on blur/focus, show the field is "not yet" valid.
3) if input is invalid, show that
4) if input is valid, show that
-->

<style media="screen">

input:focus {
   background: #eee;
}


input:empty + .warning{
  visibility: hidden;

}
input:empty + .warning + .success {
visibility: hidden;

}
/*
input:focus:invalid,
textarea:focus:invalid{
	border:solid 2px #F5192F;
   outline: none;
}

input:focus:valid,
textarea:focus:valid{
	border:solid 2px #18E109;
	background-color:#fff;
   outline: none;
}*/



input#email:invalid + .warning{

  visibility: visible;
}
input#email:invalid + .warning + .success{

  visibility: hidden;
}

input#email:valid + .warning{
  visibility: hidden;

}
input#email:valid + .warning + .success{
visibility: visible;

}




</style>
