ul.links li {
  margin:0 auto .375em auto;
  $background-color: $white;
  background-color: $background-color;
  border: $base-border;
  padding: 1em .75em;
  font-size: .9375em;
  border-radius: $base-border-radius;
  //position: relative;
  //////////////////////////////////////border-left:5px solid $background-color;
  @include transition (all .4s ease-out);
  a {
    color: black;

    &.hover {
      color: $tnd_red;
    }
  }
  .more {
    display: block;
    font-size: .875em;
    margin-top: .75em;
    padding:1em 1em 1em 1.5em;
    @include transition (all 6.3s ease-out);
    color: $dark-gray;
    background-color: darken($background-color, 3%);
    @include media($medium-screen-up) {
      display: none;
    }

  }

  // iframe {
  // width:800px !important;
  // margin-left: 40px;
  // }
  // .name {
  //   font-weight: 700;
  // }

  .tool {
    color: $tnd_red;
  }

  &:hover, &:focus, &:active {
    //background-color: darken($background-color, 7%);

    a{
      color: $tnd_red;
    }
        box-shadow: $base-box-shadow;

    //border: 1px solid $tnd_red;

    //-webkit-transition-delay: 2s; /* Safari */
    //transition-delay: 2s;
    .more {
      display: block;

    }
  }
}

ul.links-external li {
  background-image: none;
  background-repeat: no-repeat;
  background-position: 97% 20px;
  text-align: left;

  &:hover {
    color: $tnd_red;
    background-image: url('/assets/images/icon-external-link-11-11-opacity64.png');
  }
}

ul.links li.video-link {
    //////////////////border-left:5px solid transparentize($tnd_red, .45);
  }

ul.links li.recommended {
    ///////////border-left:5px solid $tnd_red;
  }


  li.video-link.show .more{
    display: block;
  }

  ul.listings li {
    margin-bottom: 1em;
  }
.box-shadow {
  box-shadow: $base-box-shadow;
}