{{ define "main" }}
  <article id="filter" class="page-list_default mx-auto">
    {{- partial "_components/page-content.html" . -}}
    <section class="filteredlist content max-w-md mx-auto">
      {{ range (.Paginator 20).Pages }}
      <div class="border-b border-grey-lighter mb-4">
        <section>
          <div class="font-bold text-xl">
          {{ partial "_components/item-title.html" . }}
          </div>
          <div class="text-sm text-grey-dark">
            {{ partial "_components/time.html" (dict "context" . "show_time" false) }}
          </div>
          <p class="mb-1 text-grey-darker text-base">
            {{- partial "_components/item-description.html" . -}}
          </p>
        </section>
      </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
