{{ define "main" }}{{/* tool/list layout is shared with taxonomy/tools */}}
  <article id="filter" class="center max-w-5xl mx-auto p-3 lg:p-4">

    <div class="my-4 max-w-2xl">
      {{/* {{- partial "tags-within-section.html" . -}} */}}
    </div>

    <div class="wrapper">
      {{- template "links" . -}}
      {{/* {{- partial "tools/sidebar.html" . -}} */}}
    </div>

  </article>
{{ end }}


{{define "links"}}
  <table class="js-filteredlist">
    <tbody class="">
      {{ range  .Data.Pages.ByTitle }}
        <tr class="border-2 border-grey-lighter bg-white p-2">
        {{with .Params.link}}<td><a href="{{.}}?{{ (querify "utm_source" $.Site.Params.utm_source "utm_medium" $.Site.Params.utm_medium "utm_campaign" $.Section ) | safeURL }}">link</a></td>{{end}}
          <td>{{- .Title -}}</td>
          {{with .Params.source}}<td>{{.}}</td>{{end}}
          {{with .Params.content_type}}<td>{{.}}</td>{{end}}
          {{with .Params.tool}}{{range .}}<td>{{.}}</td>{{end}}{{end}}

        </tr>
      {{ end }}
    </tbody>
  </table>
{{end}}
