{% assign tools_used = object.tool  %}
<li class="flex-box" style="border-top-color:#f6f6f6;">
  <a href="{{ object.url }}">
    <h4 class="name flex-title" style="min-height:53px;">
      {{ object.title }}
    </h4>
        {% assign image = object.image_path %}
        <img src={{ image | imgix_url: w: 225, h: 125, fit:'clamp', exp:'1' }} style="border:1px solid #ddd;">
    {% if object.content %}
    <div>  <small><a href="{{ url(object) }}" class="red">&raquo; read developer notes &laquo;</a></small></div>
    {% endif %}
    <div class="light meta">
      {% if tools_used %}
      {% assign count = '0' %}
        {% for object in tools_used %}

            {% for tool in site.tool %}
              {% assign slugged = tool.url | replace: 'tool', '' | replace: '/', '' %}

                {% if object == slugged %}
                {% capture count %}{{ count | plus: '1' }}{% endcapture %}
                {% assign the_tool = tool.slug %}



                  <span class="tool hide" style="color:green;">({{ the_tool | shift }})</span>
                  <span class="tool2 hide" style="color:red;">{{ the_tool | pop }}</span>
                  <button type="button" name="button">
                    {{ the_tool }}
                  </button>
                {% endif %}


            {% endfor %}


        {% endfor %}
      {% endif %}
    </div>
  </a>
</li>