{% for article_authors in page.authors %}
{% if forloop.first %}<hr />Author{% if forloop.length >= 2 %}s {% endif %}: {% endif %}
	{% assign author_data = site.data.authors | where: 'twitter', article_authors %}
  {% for author in author_data %}
      <a href="/contributing-authors/#{{ author.twitter }}">{{ author.name | markdownify | remove: '<p>' | remove: '</p>'  }}</a>{% if author.position  %} - {{ author.position | markdownify | remove: '<p>' | remove: '</p>'  }}{% endif %}
			{% if author.github %}
       <a href="https://github.com/{{ author.github }}">
        <i class="icon-github-squared"></i>
        <span class="username screen-reader-text">Github</span>
      </a>
      {% endif %}
      {% if author.twitter %}
      <a href="https://twitter.com/{{ author.twitter }}">
        <i class="icon-twitter-squared"></i>
        <span class="username screen-reader-text">Twitter</span>
      </a>{% endif %}
  {% endfor %}
  {% unless forloop.last %}| {% endunless %}
{% endfor %}
