<div class="sidebar-left">
  <aside class="sidebar-main">
    <h1>
      <a href="{{site.baseurl}}">{{site.title}}</a>
    </h1>
      <p>{{site.description}}</p>
      <p class="navigation-menu-button" id="js-mobile-menu"><i class="icon-menu"></i></p>

  </aside>
  <aside class="sidebar-description js-mobile-menu">
      <ul>
      <li class="nav-sidebar-item"><a href="/">home</a></li>
      <li class="nav-sidebar-item"><a href="/about/">about</a></li>
      <li class="nav-sidebar-item"><a href="/archive/">archive</a></li>
      <li class="nav-sidebar-item"><a href="/links/">links</a></li>
      <li class="nav-sidebar-item"><a href="/resources/">resources</a></li>
    </ul>

    <figure>
    {% include icons.html %}
  </figure>
  </aside>
</div>