<div class="sidebar-left">
  <aside class="sidebar-main">
    <h1>
      <a href="{{site.url}}">{{site.sitename}}</a>
    </h1>
      <p>{{site.tagline}}</p>
      <p class="navigation-menu-button" id="js-mobile-menu"><i class="icon-menu"></i></p>

  </aside>
  <aside class="sidebar-description js-mobile-menu">
      <ul>
      <li class="nav-sidebar-item{% if page.url == ' ' %} active{% endif %}"><a href="/">home</a></li>
      <li class="nav-sidebar-item{% if page.url contains '/about/' %} active{% endif %}"><a href="/about/">about</a></li>
      <li class="nav-sidebar-item{% if page.url contains '/archive/' %} active{% endif %}"><a href="/archive/">archive</a></li>
      <li class="nav-sidebar-item{% if page.url contains '/links/' %} active{% endif %}"><a href="/links/">links</a></li>
      <li class="nav-sidebar-item{% if page.url contains '/resources/' %} active{% endif %}"><a href="/resources/">resources</a></li>
    </ul>

    <figure>
    {% include icons.html %}
  </figure>
  </aside>
</div>