{% if site.use_jquery_cdn == true %}
	 <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endif %}

<script type="text/javascript">
function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "/assets/js/scripts.js";
  document.body.appendChild(element);
  var element_addthis = document.createElement("script");
  element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
  document.body.appendChild(element_addthis);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>


