{% assign showcase = site.showcase | sort: "date" | reverse  %}
{% assign count = '0' %}
{% for object in showcase %}
  {% if object.tool contains this_tool %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if count == '1' %}
    <div class="heading">
      <h3 class="flush">
        {{ page.title }} Showcase Sites
      </h3>
      <small>
        click image for more information
      </small>
      </div>
    {% endif %}
    {% if object.image_path %}
      <a href="{{ object.url }}">
        {% assign image = object.image_path %}
        <img src={{ image | imgix_url }} style="border:1px solid #ddd;margin: auto;">
      </a>
    {% endif %}
    <hr />
  {% endif %}
{% endfor %}