<p>
  Subscriptions are ongoing and you can cancel at any time.
</p>


{% include {{site.test}} %}

<div class="snipcart-summary">
</div>

<a href="#" class="snipcart-user-profile">
  User profile
</a>

URL: {{ site.url }}{{ page.url }} <br />
{% assign subscriptions = page.subscriptions %}
  {% for object in subscriptions %}

    {% assign subscription_price = object.subscription.subscription_price %}
    {% assign shipping_charge = object.subscription.shipping_charge %}
    {% capture total_price %}{{ subscription_price | plus: shipping_charge }} {% endcapture %}



  <div style="padding: 1em;background-color:#f6f6f6;border:1px solid #777;margin:3em auto;">
    <h6>Definitions (button attributes)</h6>
    <ul>
      <li>object: {{ object }}</li>
      <li>name: {{ object.subscription.name }}</li>
      <li>term: {{ object.subscription.term_months }}</li>
      <li>subscription_price: {{ subscription_price }}</li>
      {% if shipping_charge %}<li>shipping_charge: {{ shipping_charge }}</li>{% endif %}
      <li>total_price: {{ total_price }}</li>
    </ul>
  </div>


      <button type="button" name="button"
      class="snipcart-add-plan"
        data-plan-id="subscription_{{object.subscription.term_months }}"
        data-plan-name="{{ object.subscription.name }}"
        data-plan-interval="Day"
        data-plan-amount="{{ total_price }}"
        data-plan-url="{{ site.url }}{{ page.url }}">

            {{ object.subscription.name }}

            </button>



    <small>
      ${{ total_price }}
        {% if shipping_charge %}
          ({{ subscription_price }} + {{ shipping_charge }} shipping)
        {% endif %}
    </small>



    <hr />

  {% endfor %}
