{% assign subscriptions = page.subscriptions %}
  {% for object in subscriptions %}

  <hr />

  <h6> object: {{ object }}</h6>
  <h6>name: {{ object.subscription.name }}</h6>
  <h6>term: {{ object.subscription.term_months }}</h6>
  <h6>subscription_price: {{ object.subscription.subscription_price }}</h6>

<hr />



    <a style="margin-top:-2em;text-align:right;"
      href="#"
      class="snipcart-add-plan"

      data-plan-id="subscription_{{object.subscription.term_months }}"
    data-plan-name="{{ object.subscription.name }}"
    data-plan-interval="Day"
    data-plan-amount="{{ object.subscription.subscription_price }}"
    data-plan-url="{{ page.url }}">




      <button type="button" name="button" class="special">
        Buy {{ page.title }}
      </button>
    </a>

    <small>
      ${{ object.price }}
      {% if object.shipping_charge %}
        {% if object.shipping_charge < 0.01 %}
          &nbsp;Free Shipping
        {% endif %}
      {% endif %}
    </small>
    <hr />

  {% endfor %}







