<script type="text/javascript">
var MTIProjectId='0279604d-1ddd-4c0d-b491-eff8ca0e76df';
 (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
         mtiTracking.src='{{.Site.BaseURL}}mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
   })();
</script>

<style>
@supports (display: grid) {
  .dg {
    display: grid
  }

  .g-gap-10 {
    grid-gap: 1rem;
  }

  .g-columns-100 {
    /*grid-template-columns: 100px;*/
    /*grid-template-columns: repeat(6, 200px);*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  }



  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
               "....... header  header"
                             "content content sidebar";

    }


    .sidebar {
      grid-area: sidebar;
    }

    .content {
      grid-area: content;
    }
    .header {
      grid-area: header;
    }





}

</style>
