<header>
	<div class="pt-6 lg:pt-12">				
		<a href="/" class="pl-2 sm:pl-4 font-bold text-4xl tracking-normal block text-primary-color-500 font-brand no-underline">      
      <img src="/images/tnd-logo-B50938.svg" alt="{{.Site.Title}} logo" class="pr-4 h-12 xxl:h- sm:pl-2 max-w-full">
		</a>		
		<div class="pt-8 hidden sm:block">			
			{{ partial "_global/menus.html" . }}
		</div>
		<div class="pt-8">
			<div class="pl-4{{ if .IsHome }} flex{{ else }} hidden sm:flex{{ end }}">
				{{ partial "_components/social-follow.html" (dict "cx" . "icon_size" "26px") }}		
			</div>
		</div>				
	</div>
</header>
