{{ $image := index (.Params.images) 0 }}
<div class="flex flex-wrap mb-8 md:mb-0 rounded overflow-hidden h-full w-full">
  <div class="px-6 py-4 w-full md:w-1/3 z-0 md:order-1">
    <div class="md:bg-white md:border py-2 pl-6 pr-2 -ml-8 rounded-r-lg ">
      <p>Showcase</p>
      <div class="font-bold text-base mb-2">
        <a href="{{ .Permalink }}" class="dim text-xl text-black no-underline title">
          {{ .Title }}
        </a>
      </div>
    </div>
  </div>
  {{ with $image }}
    <a href="{{ $.URL }}" class="no-underline w-full md:w-2/3 md:order-0 z-50">
      {{ if in (print $.Site.BaseURL) "localhost" }}
        <img data-src="{{ . }}" src="/images/placeholder.svg" class="lazyload mw-100  shadow ">
      {{ else }}
        {{ $img := replace . "/uploads" ($.Param "dev.image_url")  }}
          <img src="/images/placeholder.svg" data-src="{{ $img }}?{{ (querify "w" "460" "fit" "crop") | safeURL }}" class="lazyload shadow mw-100">
      {{ end }}
    </a>
  {{ end }}
</div>
