{{range .Data.Pages}}
{{with .Params.related_tools}}
  {{range sort . "value" "asc"}}
    {{$.Scratch.SetInMap "related_tools" . .}}
  {{end}}
{{end}}
{{end}}

{{$related_tools := $.Scratch.GetSortedMapValues "related_tools"}}
{{with $related_tools}}
  <div class="lg:mr-6">
    <h6 class="mb-2">Related Tools</h6>
    {{range .}}
    {{$slug := urlize .}}
    {{$related_tool := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0}}
    {{with $related_tool }}
      <button id="{{$slug}}" class='filter-buttons-tools button_c'>{{.Title}}</button>
      {{end}}
    {{end}}
  </div>
{{end}}

<hr />


  {{/* {{$section_heading := $.Site.GetPage "taxonomy" .Section }} */}}
  <input type="search" class="search appearance-none bg-white rounded border border-grey-light text-sm w-5/6 inline-block mb-4 md:mb-0 md:w-1/3 px-3 py-2" placeholder="Filter {{len .Data.Pages}} items in {{.Title }}" />

  <button id="clear-filters" class="js-only sort border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm" data-sort="main-category">
    clear
  </button>
