{% extends "templates/partials/base-layout-3-column.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
  
  {% block content_aside_left %}
    <h1 class="title">{{ item.name }}</h1>
    {% include "templates/partials/format-tools-sidebar.html" %}
  {% endblock %}

  {% block content_center %}
    {% set data = merge(item.articles_tool, item.links_tool) %}
    {% set data = data|sort('publish_date', true) %}

    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
      <ul class="links links-external filter-list">
        {% for object in data %}    
          {% include "templates/partials/format-links.html" %}
        {% endfor %}
      </ul>    
    </div>
    
  {% endblock %}

  {% block content_aside_right %}

    {% set button_copy = "Jump to Another Tool" %}
      {% include "templates/partials/button-choose-a-tool.html" with button_copy %}
{#   {% include "templates/partials/format-links-filters.html" %}     #}
  {% set prev = prevItem(item, 'name') %}
  {% set next = nextItem(item, 'name') %}
  {% include "templates/partials/prev-next.html" %}
{% endblock %}