{{ $currentPage := . }}
<aside class="js-side-nav side-nav pointer-events-none fixed left-0 top-0 w-100 h-100 overflow-hidden">

  <nav class="js-side-nav-container side-nav__container flex flex-column relative bg-white h-100 w-90 mw5-5 shadow-2">

    <button class="js-menu-hide absolute bn bg-transparent top-0 right-0 mt3 mr3 text-on-primary-color">
      <svg fill="{{ .Site.Params.nav_side_button_close_color | default "#000" }}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </button>

    <header class="flex items-end h5 pa4 f3 bg-primary-color text-on-primary-color ">
      <div class="">
        <div class="w-100 cf">
          {{ .Site.Title }}
        </div>
      </div>
    </header>

    <ul class="scrolling-touch pt4 flex-auto pa0 ma0 overflow-x-hidden overflow-y-auto">
      {{ range .Site.Menus.main }}
        <li class="list">
          <a href="{{.URL}}" class="pv3 ph4 w-100 hover-bg-black primary-color hover-white dib f4 link mr3 mr4-ns{{ if $currentPage.IsMenuCurrent "main" . }} b{{ end }}">
            {{ .Name }}
          </a>
        </li>
      {{end}}
    </ul>

  </nav>
</aside>
