{{ $currentPage := . }}
<nav class="flex-ns items-baseline bg-primary-colorTK bg-white fixed w-100 cf mb5 z-1 bb b--black-20">
  <a class="f3 fw8 bg-primary-color link brand-font text-on-primary-colorTK primary-colorf white fblack dim no-underline flex items-center pa3 pr4" href="/">
    {{ .Site.Title }}
  </a>
  <div class="pa3 dn flex-ns items-center">
    {{ range .Site.Menus.main }}
      <a href="{{.URL}}" class="f5 link dib white-80TK dark-gray dim mr3 mr4-ns{{ if $currentPage.IsMenuCurrent "main" . }} bb{{ end }}">
        {{ .Name }}
      </a>
    {{end}}
  </div>
  {{ partial "nav-side-button-open" . }}
</nav>
