<div class="mx-auto ">
  <div class="center flex flex-wrap items-center justify-around">
    <div class="text-grey hidden md:block">
      {{- partial "svg/magnifier.svg" (dict "size" "32px") -}}
    </div>
    <input type="text" id="searchbox" class="needs-js text-3xl md:text-3xl border px-3 block py-2TK w-full bg-grey-lighter nice-outline text-black border-transparent" aria-labelledby="search_label" autocomplete="off" placeholder="Start typing" type="text" name="query" value="">
  </div>
</div>
{{/* <div id="results" class="hidden">
{{partial "search/results-global.html" .}} */}}
{{/* </div> */}}
