<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" class="no-js">
  <head>
    {{ partial "head/scripts" . }}
    {{ block "head_additions" . }}{{ end }}
    {{ partial "head/styles"  . }}      
    {{ if templates.Exists "partials/tnd-seo/print.html" }}
      {{ partial "tnd-seo/print.html" . }}
    {{ end }}
  </head>
  <body>
    <div class="h-screen border-t-4 border-primary-color-500 flex overflow-hidden bg-gray-100" x-data="{ sidebarOpen: false }" @keydown.window.escape="sidebarOpen = false">
      <!-- Off-canvas menu for mobile -->
      {{ partial "sidebar-mobile.html" . }}
      <!-- Static sidebar for desktop -->
      {{ partial "sidebar.html" . }}
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
          {{ partial "topbar.html" . }}
          <main class="flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none" tabindex="0" x-data x-init="$el.focus()">
            <div class="max-w-7xl mx-auto px-4">
              <img
                    class="h-16 mb-8 md:hidden"
                    src="/images/tnd-logo-B50938.svg"
                    alt="TND LOGO"
                />
              {{ block "main" . }}{{ end }}
            </div>
          </main>
        </div>
    </div>
    {{ partial "scripts/fathom-analytics.html" (dict "fathom_id" site.Params.fathom_id) }}            
  </body>
</html>