<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" class="no-js">
  <head>
    {{ block "head" .}}
      {{- partial "_head/_head.html" . -}}
    {{ end }}
    {{block "scripts" .}}
      {{ partialCached "_head/scripts.html" . }}
    {{ end }}
  </head>
  <body class="{{ partial "_components/body-class" }}">
    <div class="relative bg-primary-color text-white sm:fixed pin-t pin-b w-16">      
      {{ partial "_global/side-nav.html" . }}
    </div>    
    <div id="content" class="content grid grid-columns-12 ml-16">      
      <div class="col-span-2 border-r min-h-screen flex flex-col justify-between">
          {{ partial "_global/header.html" . }}          
      </div>          
      <main role="main" class="col-span-10">
        {{ block "hero" . }}{{ end }}
        <div class="p-16">
            {{ block "main" . }}{{ end }}
        </div>
      </main>      
    </div>    
  </body>
</html>
