{{ define "main" }} {{ $current := .}}

<div class="mx-auto max-w-2xl">
	<article class="h-entry">
		{{/* For sections, requires $section being passed through: {{partial
		"_components/page-heading.html" $section}} */}}
		<h1 class="text-4xl font-brand">
			{{- .Title | markdownify -}}
		</h1>
		{{ with .Description }}
      <p>
        {{- . | markdownify -}}
      </p>
    {{ end }} 
    {{ with .Params.images }}
      {{ range first 1 . }}
        {{ with partialCached "tnd-media/Get" . }}
          <div class="lazyload my-4" data-noscript="">
            <noscript>
              <img
                src="{{ .RelPermalink }}"
                class="lazyload mb-2 mr-3 mt-2 max-w-full shadow-md"
                alt="Image "
              />
            </noscript>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    

		<section class="rich-text text-lg text-gray-800">
			{{ .Content }}
		</section>
	</article>
</div>
{{ end }}