{{ define "main" }}{{/* tool/list layout is shared with taxonomy/tools */}}
<article id="filter" class="page-list_default mx-auto">
	<div class="mb-16">
		{{ partial "page-description.html" . }}
	</div>
	<section
		class="filteredlist content sm:grid gap-4 grid-cols-2 lg:grid-cols-3 xl:grid-cols-5"
	>
		{{ range.Data.Pages.ByTitle }}
		<div class="bg-white shadow hover:shadow-lg">
			<a href="{{ .Permalink }}" class="block no-underline text-black hover:opacity-90">
				<div class="bg-grey-darkTK flex justify-between px-3 py-2 text-xs text-white{{ with .Params.tools}} {{ index . 0 | urlize }} {{ end }}">					
				</div>
				<div class="p-3">
					<dt class="title bold text-lg near-black">
						{{- .Title -}}
					</dt>
					<dd
						class="description nested-links text-sm no-underline leading-normal nested-copy-line-height"
					>
						{{- .Params.description -}}
					</dd>
				</div>
			</a>
		</div>
		{{ end }}
  </section>
  <div class=" mt-16">
    <a href="/tool/" class="dim inline-block hover:bg-gray-700 bg-gray-600 rounded-full px-3 py-1 mr-2 mb-1 no-underline font-sans text-gray-200">See Entire Tools Directory</a>
  </div>
</article>
{{ end }}
