{% extends "templates/partials/base-links.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}



{% block content_aside_left %}
<h1>List of links</h1>
{% endblock  %}


{% block content_links %}
  {% set data = cms.links %}
  {% set data = data|sort('publish_date', true) %}
  {% set data = paginate(data, 500) %}

  
<input type="search" placeholder="filter by name, source, or tool" />
  <ul class="links links-external">
    {% for object in data %}
    
      <li{% if object.video %} id="video-link"{% endif %}>
        <a href="{{ url(object) }}" target="_blank" class="name">
          <div style="width:100%;">
            {{ object.name }}
            {% if object.source %}<small style="color:#777;">by {{ object.source }}</small>{% endif %}          
          </div>
        </a>

        <span class="more">
          <em>{{ object.publish_date|date('F jS, Y') }}</em>
          {% if object.tool  %}<br />{% endif %}
          {% for tool in object.tool %}
            <strong class="tool">{{ tool.name }}{% if not loop.last %}, {% endif %}</strong>
          {% endfor %}
          {% if object.summary %}
          <br />
          {{object.summary|markdown}}
          {% endif %}

          {% if object.video %}
          <small>VIDEO</small>
            
          {% endif %}
        
        </span>
      </li>
      
      {% endfor %}
  </ul>



{% endblock %}



  {% block content_aside_right %}      
    
    <ul>
      <li>News</li>
      <li>Tutorial</li>
      <li>Review</li>
      <li>Article/Presentation</li>
      <li>Resource/Website</li>
      <li>Video</li>
      <li>Editors Choice</li>
    </ul>


{# <h6>Tools</h6> #}
{% set tools = cms.tools %}

{% set tools = tools%}
<hr />



<ul>


{% for tool in tools %}

<li>{{ tool.name}}  {{ tool.links_tool.length }}</li>


{% endfor %}
</ul>



  {% endblock %}
