{{ define "main" }}
  <div class="page-single_default mx-auto min-h-screen">
    <article class="mx-auto py-5 px-3">

      {{ with .Params.related_tools }}
        <aside class="related_tools flex flex-wrap mb-8 text-xl">
          {{ range . }}{{ $link := index (where (where $.Site.Pages ".Section" "tool") ".File.Path" "in" .) 0 }}
            {{ partial "_components/tags" $link }}
          {{ end }}
        </aside>
      {{ end }}

      <section>
        {{ partial "_components/image-picture-element.html" . }}
      </section>

      <section class="text-xl my-16 leading-normal text-grey-darker">
        {{ .Content }}
      </section>

    </article>
  </div>
{{ end }}
