{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7 min-vh-100">
      <section class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{with .Params.images}}
          {{ range .}}
            <img class="max-w-full" src="{{.}}" alt="" />
          {{end}}
        {{end}}

        {{with .Params.related_tools}}
          {{range .}}
            <div class="related_tools">
              {{$related_tool := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0}}
              <a href="{{- urlize . | relURL -}}">{{ $related_tool }}</a>
            </div>
          {{end}}
        {{end}}

        {{ .Content }}
      </section>
    </article>

  </div>
{{ end }}
