<div class="max-w-sm rounded overflow-hidden shadow">

  {{ with .Params.images }}
    {{ range . -}}
      <picture>
        <source srcset="{{ . }}?w=1280" media="(min-width: 1280px)">
        <source srcset="{{ . }}?w=768&h=1024&fit=crop" media="(min-width: 768px)">
        <source srcset="{{ . }}?w=568&h=320&fit=crop" media="(min-width: 480px)">
        <img src="{{ . }}?w=320&h=568&fit=crop">
      </picture>
    {{- end }}
  {{ end }}
  <div class="px-6 py-4">
    <div class="font-bold text-base mb-2">
      <a href="{{ .Permalink }}" class="dim text-black no-underline title">
        {{ .Title }}
      </a>
    </div>
    {{with .Params.Description}}
    <p class="text-grey-darker text-base">
      {{.}}
    </p>
    {{end}}
  </div>
  <div class="px-6 py-4">

    {{ with .Params.related_tools }}
    <div class="related_tools  text-xs">
      {{ range . }} {{ $link := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0 }}

        {{ partial "_components/tags" $link }}

      {{ end }}
    </div>
    {{ end }}




  </div>
</div>
