{{ $image := index .Params.images 0 }}
<div class="rounded overflow-hidden h-full w-full border-t-6">
	{{ with $image }}
		{{ $args := dict "path" $image "width" 400 "height" 247 "fit" "crop" }}
		{{ with partialCached "tnd-media/Get" $args $args }}
		<a href="{{ $.RelPermalink }}" class="no-underline">
			<img
				data-src="{{ .Permalink }}"
				src="/images/placeholder.svg"
				class="lazyload"
			/>
		</a>
		{{ end }}
	{{ end }}
	<div class="px-6 py-4">
		<div class="font-brand text-base mb-2">
			<a href="{{ .Permalink | relURL }}" class="dim text-black no-underline title">
				{{ .Title }}
			</a>
		</div>
		{{ with.Params.Description }}
		<p class="text-gray-700 text-base">
			{{.}}
		</p>
		{{ end }}
	</div>
	<div class="px-6 py-4">
		{{ partial "_components/related_tools-tag.html" . }}
	</div>
</div>