{{ $image := index (.Params.images) 0 }}
<div class="max-w-sm rounded overflow-hidden shadow">
  {{ with $image }}
    <a href="{{ $.URL }}" class="no-underline">
      {{ if in (print $.Site.BaseURL) "localhost" }}
        <img data-src="{{ . }}" src="/images/placeholder.svg" class="lazyload mw-100">
      {{ else }}
        {{ $img := replace . "/uploads" ($.Param "dev.image_url")  }}
          <img src="/images/placeholder.svg" data-src="{{ $img }}?{{ (querify "w" "329" "h" "203" "fit" "crop") | safeURL }}" class="lazyload">
      {{ end }}
    </a>
  {{ end }}

  <div class="px-6 py-4">
    <div class="font-bold text-base mb-2">
      <a href="{{ .Permalink }}" class="dim text-black no-underline title">
        {{ .Title }}
      </a>
    </div>
    {{with .Params.Description}}
    <p class="text-grey-darker text-base">
      {{.}}
    </p>
    {{end}}
  </div>
  <div class="px-6 py-4">

    {{ with .Params.related_tools }}
    <div class="related_tools  text-xs">
      {{ range . }} {{ $link := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0 }}

        {{ partial "_components/tags" $link }}

      {{ end }}
    </div>
    {{ end }}




  </div>
</div>
