$article-top-margin: -1.5em;
.layout {
  @include outer-container;
  margin-left:auto;
  margin-right:auto;
    @include pad(1em .75em);

  @include media($large-screen) {
      @include pad(2em 2em 1em 2em);
  aside, .column-2 {
    @include span-columns(3.75 of 12);
  }
  article, .column-1 {
    @include span-columns(9 of 12);
  }
  section, .column-3 {
    @include span-columns(4 of 12);

  }
}
  .column-3 {
    display: table-cell;
    color: #EEE;
    font-family: $heading-font-family;
  }
  .column-3 p{
    color: #f7f7f7;
    vertical-align: bottom;
  }
  p {
    color: white;
  }
}
.layout-2-column {

  @include outer-container;
  aside {
    //max-width: 98%;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
    @include span-columns(12);
    @include pad(1em);
    background-color: $aside-background;
    &.left {
      text-align:left;
      h5, h6 {
        text-align: left;
      }
    }
  }
  article {
    //max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    @include span-columns(12);
    padding:inherit;
    @include pad(1em);
  }
  @include media($large-screen) {
    aside {
      @include span-columns(2.75);
      //max-width: 100%;
      &.left {
      text-align:right;
      h5, h6 {
        text-align: right;
      }
    }
    }
    article {
      //max-width: 100%;
      @include span-columns(9.25);
      margin-top: $article-top-margin;
      margin-bottom: 20em;
      @include pad(2em);
      background-color: $article-background;
      .copy {
        @include columns(2 4em);
      }
    }
  }



}

.layout-article {
  @include outer-container;
  aside {
    //max-width: 98%;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
    @include span-columns(12);
    @include pad(1em);
    background-color: $aside-background;
    &.left {
      text-align:left;
      h5, h6 {
        text-align: left;
      }
    }
  }
  article {
    //max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    @include span-columns(12);
    padding:inherit;
    @include pad(1em);
  }
  @include media($large-screen) {
    aside {
      @include span-columns(2.75);
      //max-width: 100%;
      &.left {
      text-align:right;
      h5, h6 {
        text-align: right;
      }
    }
    }
    article {
      //max-width: 100%;
      @include span-columns(6.5);
      margin-top:$article-top-margin;
      margin-bottom: 20em;
      @include pad(2em);
      background-color: $article-background;
      .copy {
        @include columns(2 4em);
      }
    }
  }


}

.list {
  display: inline-block;
  margin-right: 1em;
  @include media($medium-screen-up) {
    display: block;
    margin-right: 0;
  }
}

@include media($large-screen) {
  article {
    margin-top: $article-top-margin;
  }
}
