header.navigation {
  background-color:darken($navigation-background, 2%);//#27272B;// $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 1%);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  font-size: .875em;
  .navigation-wrapper {
    @include clearfix;
    //@include outer-container;
    position: relative;
    padding-top:.3125em; //this is here to account for the varying font sizes in the nav, which makes the top/bottom ratio not even
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left:.375em;//$navigation-padding;

    font-size: 1.875em;
    line-height: $navigation-height;
    margin:0;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
    a {
      color: $navigation-brand-color;

    }
    @include media ($horizontal-bar-mode) {
      //padding-left:0;// $navigation-padding;
      padding-right: 1.375em;
    }
  }



  // Nav menu

  nav {
    float: left;
    //min-height: $navigation-height;
    z-index: 9999999;
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    //clear: both;

    display: inline;
    //margin: 0 auto 2em auto;
    margin: 0 auto 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    // &.show {
    //   display: block;

    // }


    @include media ($horizontal-bar-mode) {
      text-align: center;
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: inline;
    //clear: left;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-family: $heading-font-family;

    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      padding-right: 0.8em;
      clear: none;
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      //font-weight: 400;
      text-decoration: none;
      font-size: 1em;//.9375em;
      font-weight: 700;
      ///background-color: red;

      padding-left: .75em;
      padding-right: .75em;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
        padding-left:0;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }


  // Elements on the far right

ul.secondary-links {
  display: inline;
  float: left;
  line-height: $navigation-height;
  ///////////////margin-left:.75em;
  @include media($large-screen) {
    display: block;
    float: right;
    li {
      font-size: 0.875em;
      font-weight: 400;
    }
  }
}


}
