<!-- TODO: opengraph !-->
<link rel="canonical" href="{{ .RelPermalink }}">
<meta property="og:locale" content="{{ .Site.Language }}" />
<meta property="og:url" content="{{ .RelPermalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }}">
{{ if .Params.feature_image }}
<meta property="og:image" content="{{ .Params.feature_image }}">
{{ else }}
<meta property="og:image" content="{{ .Site.Params.default_feature_image }}">
{{ end }}
{{ if .Params.meta_description }}
<meta property="og:description" content="{{ .Params.meta_description }}">
{{ else }}
<meta property="og:description" content="{{ .Site.Params.default_meta_description }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title | markdownify }}">
<meta property="article:author" content="{{ .Site.Params.og_author }}">
{{ if .Params.meta_description }}
<meta name="twitter:card" content="{{ .Params.meta_description }}">
{{ else }}
<meta name="twitter:card" content="{{ .Site.Params.default_meta_description }}">
{{ end }}
{{ if .Site.Params.twitter_handle }}
<meta name="twitter:site" content="{{ .Site.Params.twitter_handle }}">
{{ end }}
<meta name="twitter:url" content="{{ .RelPermalink }}">
<meta name="twitter:title" content="{{ .Title }}">
{{ if .Params.meta_description }}
<meta name="twitter:description" content="{{ .Params.meta_description }}">
{{ else }}
<meta name="twitter:description" content="{{ .Site.Params.default_meta_description }}">
{{ end }}
{{ if .Params.feature_image }}
<meta name="twitter:image" content="{{ .Params.feature_image }}">
{{ else }}
<meta name="twitter:image" content="{{ .Site.Params.default_feature_image }}">
{{ end }}