---
---
// getting started
	// gem install bourbon neat bitters
	// cd _sass
	// bitters install
	// cd _sass/libs
	// bourbon install
	// neat install
	// if needed, uncomment and change neat directory in bitters/_bitters
	// refills and add-ons (modules) are installed manually

///@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
//Required
@import "libs/_normalize";
@import "libs/bourbon/bourbon";
@import "base/base";
@import "libs/neat/neat";

// BASIC MODULES
@import "modules/article";
@import "modules/code";
@import "modules/navigation-side";
@import "modules/fontello";



	aside.sidebar-description {
		padding-top: 2em;
		display: none;
        @include media($d-vp) {
            display: block;
            height: 280px;
		max-height: 280px;



            }
    }


.icon-twitter {
	margin-top: 2em;
}

.small {
         font-size: .8em;
     }


.sidebar-left figure {
	margin-top: 3em;
}
.github-icon-svg,
.twitter-icon-svg {

  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


.past-events{
	margin-top: 4em;
}

.event {
	margin:1em auto;
	border: 0;
	border-bottom: 1px solid #EEEEEE;
}
ul.posts {
    //margin-bottom: 1em;

}
ul.posts li {
    //border-bottom: 1px solid #DDD;
     padding-top: 1em;
    // padding-bottom: 0;
    padding-left: 1.3em;
    text-indent: -1.3em;

}

body.full-width section header {
		padding:2em 2em 0 2em;
	@include media($medium-screen-up) {
		padding:2em 2em 0 5em;
	}
}

ul.posts li ul li {
	padding-bottom: .5em;
	padding-top:0.25em;
	//padding-left: 1.6em;
	//text-indent: 0;

}
.post-box {
	//background-color: #ededed;
	width: 100%;
}

.post-box {
		padding:2em 2em 2em 2em;
	@include media($medium-screen-up) {
		padding:2em 2.5em 2em 4.5em;
	}

}
.post-box-odd {
	background-color: $base-body-color;


}
small {
	font-size:75%;
}
h2 small {
	font-size:50%;
}

body {
	background-color: $base-body-color;
}

.top {
	height: auto;
	overflow: hidden;
	padding: 1em;
	background-color: darken($base-body-color, 5%);
	 @include media($d-vp) {
    padding: 1em 9.8em;
	max-height: 272px;
	height: 280px;
            }


h1 {padding-left: .6em;}

}