<a href="#expandable-nav-side" class="block absolute right-0 top-0 mt3 mr2">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40">
      <rect x="7" fill="#E6E5E5" width="36" height="6"></rect>
      <rect x="7" y="10" fill="#E6E5E5" width="36" height="6"></rect>
      <rect x="7" y="20" fill="#E6E5E5" width="36" height="6"></rect>
      {% comment %}
      <path fill="#E6E5E5" d="M7.4,32.4h2.7l1.7,4.4l1.7-4.4h2.7v7.4h-2v-4.3l-1.7,4.3h-1.5l-1.6-4.3v4.3H7.4V32.4z"></path>
      <path fill="#E6E5E5" d="M18.3,32.4h5.9v1.9h-3.8v0.9h3.7V37h-3.7v1h3.9v1.8h-5.9V32.4z"></path>
      <path fill="#E6E5E5" d="M26.2,32.4h2.2l2.9,3.9v-3.9h2v7.4h-1.9l-3.2-4.3v4.3h-2V32.4z"></path>
      <path fill="#E6E5E5" d="M35.4,36.9v-4.5h2.1v4.2c0,1,0.2,1.5,1.5,1.5c1.3,0,1.5-0.5,1.5-1.5v-4.2h2v4.5c0,1.4-0.2,3.1-3.5,3.1
        S35.4,38.3,35.4,36.9z"></path>
      {% endcomment %}
    </svg>
</a>
