<form accept-charset="UTF-8" class="mb4" action="https://formkeep.com/f/6f799fdacb75" method="POST" style="width:80%;">
    <input type="hidden" name="utf8" value="✓">
     <input type='hidden' name='redirect_to' value='/about/thank-you/' />

    <label class="label cf">Name</label>
    <input tabindex="6" type="text" name="name" id="name-field" class="input input-reset bg-white-70 ba b--light-gray" size="40" maxlength="35" />

    <label class="label cf">Email Address</label>
    <input tabindex="7" type="text" name="email" id="email-field" class="input input-reset bg-white-70 ba b--light-gray" size="40" maxlength="35" />


    <label class="label cf">Your Note</label>
    <textarea tabindex="8" name="message" id="message-field" class="textarea db cf w5 input-reset bg-white-70 ba b--light-gray" rows="6"></textarea>

    <button type="submit" class="btn btn-primary hover-light-gray hover-bg-gray bg-transition">Submit</button>

</form>
