<a href="{{ object.link }}{{ site.utm_parameters_links }}" class="text-decoration-none">
<li class="{{ include.link_classes }}">
    <div class="name black hover-blue">
      {{ object.title }}
    </div>
    {% if object.source %}
      <small class="gray source">
        by {{ object.source }}
      </small>
    {% endif %}
    <span class="type hide">
      {% if object.type %}{{ object.type }}{% endif %}
    </span>
    <span class="recommended">
      {% if object.editor_recommends %}
        <i class="icons-ion-ios-star-outline"></i>
      {% endif %}
    </span>
    {% if object.video %}
      <img src="/assets/images/ic_videocam_black_24px.svg" class="align-bottom">
    {% endif %}

  <div class="hidden-child h6 transition">
    <em class="gray">
      {{ object.date |date: '%b %d, %y' }}
    </em>

    {% if object.video %}
      <small class="video">
        VIDEO
      </small>
      <img src="/assets/images/ic_videocam_black_24px.svg" class="align-bottom">
    {% endif %}
  </div>

</li>
</a>
