<div class="col-12 clearfix mt4 md-flex">

  {% if page.previous.url %}
    <div class="flex-auto">
      <a class="btn btn-outline text-decoration-none" href="{{page.previous.url}}">
        &laquo; {{page.previous.title  | markdownify | remove: '<p>' | remove: '</p>' }}
      </a>
    </div>
  {% endif %}

  {% if page.next.url %}
    <div>
      <a class="btn btn-outline text-decoration-none" href="{{page.next.url}}">
        {{ page.next.title | markdownify | remove: '<p>' | remove: '</p>' }} &raquo;
      </a>
    </div>
  {% endif %}

</div>
