<a href="{{ url }}" class="{{ include.showcase_item_links }}">
    <div class="hide-child-until-hover relative transition">
      <img src="{{ image }}" alt="" class="border border-divider-color z1" />
    <div class="hidden-child center absolute top-0 right-0 bottom-0 bg-primary-color-dark white z2 col-12 " style="padding-top:15%;">
      <div class="h4 px2">
        {{ title }}
      </div>
      {% for item in tools %}
        <div class="btn btn-outline h6">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
</a>
