{{ define "main" }}
<main class="cf ph3 ph-ns pv3 pv4-m pv5-l mw9 measure-wide f4 dark-gray center lh-copy">

    {{ if .Params.display_title }}
      <h1 class="primary-colorTK black mt5 brandd-font">
        {{ .Params.display_title }}
      </h1>
    {{ else }}
      <h1 class="primary-color mt5">
        {{ .Title }}
      </h1>
    {{ end }}
  <div class="lh-copy mid-gray serif">
    {{ .Content }}
  </div>
  <a class="typeform-share link dib mv4 bg-primary-color pv2 ph3 link hover-bg-black white br2" href="https://thenewdynamic.typeform.com/to/EdbdYw" data-mode="2" target="_blank">Thanks for listening. Click here to Get in touch.</a>
    {{ partial "form-typeform-drawer.html" . }}
</main>
{{ end }}
