  
    {{/* And, Parcel generates the files to the output directory. Grab those files to create Prefetch links, and using Pipes, also puts them in our public folder */}}
  {{ $path := "./assets/fonts" }}
  {{ $files := readDir $path }}
  {{ range $files }}
    {{ if in .Name "woff" }}  
      {{ $file := resources.Get (printf "%s%s" "fonts/" .Name)}}    
      <link rel="preload" href="{{ $file.Permalink | relURL }}" as="font" crossorigin>  
    {{ end }}
  {{ end }}


  {{ if (fileExists "./assets/output/index.css") }}  
{{/* If we have an index.css file, it's for fonts. So process it with Pipes */}}
  {{ $jcss := resources.Get "output/index.css" }}
  {{ with $jcss }}
    {{ $fonts_securecss := . | resources.Fingerprint }}  
    <link rel="stylesheet" href="{{ $fonts_securecss.Permalink | relURL  }}" integrity="{{ $fonts_securecss.Data.Integrity }}" crossorigin="anonymous"> 
  {{ end }}
    {{/* And, Parcel generates the files to the output directory. Grab those files to create Prefetch links, and using Pipes, also puts them in our public folder */}}
  {{ $path := "./assets/output" }}
  {{ $files := readDir $path }}
  {{ range $files }}
    {{/*  You may want to narrow the range to something more specific  */}}
    {{ if in .Name "woff2" }}  
      {{ $file := resources.Get (printf "%s%s" "output/" .Name) }}    
      <link rel="preload" href="{{ $file.Permalink | relURL }}" as="font" crossorigin>  
    {{ end }}
  {{ end }}
{{ end }}
