{{ $css := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify }}
{{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}  
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}" crossorigin="anonymous"> 
{{ end }}



  
    {{/* And, Parcel generates the files to the output directory. Grab those files to create Prefetch links, and using Pipes, also puts them in our public folder */}}
  {{ $path := "./assets/fonts" }}
  {{ $files := readDir $path }}
  {{ range $files }}
    {{ if in .Name "woff" }}  
      {{ $file := resources.Get (printf "%s%s" "fonts/" .Name)}}    
      <link rel="preload" href="{{ $file.Permalink | relURL }}" as="font" crossorigin>  
    {{ end }}
  {{ end }}

