/* nav[aria-label="main"] {
  
} */

.tnd-Nav__item {
  @apply font-sans;
}
.tnd-Nav__item a {
  @apply w-full px-4 block text-grey-darkest no-underline text-left leading-tight py-1 text-sm;
}

.tnd-Nav__item a:hover {
  @apply bg-grey text-grey-lighter underline;
}

.tnd-Nav__item--active a{
  @apply bg-grey-light text-grey-darkest;
}

@screen xl {
  .tnd-Nav__item a {
    @apply text-base py-2 px-6;
  }
  
}
#expandable-nav-side .tnd-Nav__item a {
  @apply text-grey-lightest;
}


input[type=checkbox]#expandable-nav-side-input {
  display: none;
}
#expandable-nav-side {
 transform: translateX(-256px)
}

#expandable-nav-side-input:checked + #expandable-nav-side {
 transform: translateX(0)
}
