h1,
h2,
h3,
h4,
h5 {
	@apply .my-4;
}

html.no-js .js-only {
	visibility: hidden;
}
html.js .js-only {
	visibility: visible;
}

.bg-inherit {
	background-color: inherit;
}
.color-inherit {
	color: inherit;
}

p {
	@apply .mb-4;
}
p a:link,
p a:active,
p a:visited {
	/* This blue has a 4.77 contrast ratio on white 4.56 on near-white */
	color: #1a76c1;
}
p a:hover {
	color: #12283a;
}

hr {
	@apply .py-4;
}

dt::after {
	content: ": ";
}

.btn {
	@apply .font-bold .py-2 .px-4 .rounded .no-underline .border .inline-block .mb-2;
}

body {
	@apply .bg-grey-lightest;
}
p {
	@apply font-sans;
}
h1,
h2,
h3,
h4,
h5 {
	@apply .font-brand;
}

h1 {
	@apply text-4xl;
}
h2 {
	@apply text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-base;
}
h5 {
	@apply text-sm;
}
h6 {
	@apply text-xs;
}

blockquote {
	@apply pl-4 border-l-4 border-grey-light;
}
/*
  .text-xs	font-size: .75rem;
  .text-sm	font-size: .875rem;
  .text-base	font-size: 1rem;
  .text-lg	font-size: 1.125rem;
  .text-xl	font-size: 1.25rem;
  .text-2xl	font-size: 1.5rem;
  .text-3xl	font-size: 1.875rem;
  .text-4xl	font-size: 2.25rem;
  .text-5xl	font-size: 3rem;
  */
p {
	margin-bottom: 1.5rem;
}

.nice-outline {
	outline: none;
	text-decoration: underline;
}

.button_c,
button {
	@apply border border-grey-light text-sm inline-block mb-3 mr-3 px-3 py-2 rounded-sm;
}

.button_c:hover,
button:hover {
	@apply bg-grey-darkest text-white;
}
.list-item {
	@apply .inline-block;
}

/*
  PAGES .
  */
.page-list_default {
	@apply max-w-sm;
}
.page-single_default {
	@apply max-w-sm;
}


@screen lg {
	.page-list_default {
		@apply max-w-5xl;
	}
	.page-single_default {
		@apply max-w-xl;
	}
	
}