{% extends "templates/partials/base-layout-3-column.html" %}
{% block title %}{% parent %} - tools{% endblock %}

{% block content_aside_left %}
  <h2>{{ item.name }}</h2>
<div class="small-screen">{% include "templates/partials/format-tools-filters.html" %}</div>
{% endblock %}

{% block content_center %}
  {% set data = item.tool_category %}

  {% set data = data|sort('name') %}
  <div id="filter-container">
    <input class="search" type="search" placeholder="filter by name, source, or tool" />
    <ul class="links filter-list">
      {% include "templates/partials/format-tools.html" %}
    </ul>
</div>
{% endblock %}

{% block content_aside_right %}  
  <div class="large-screen">{% include "templates/partials/format-tools-filters.html" %}</div>
{% endblock %} 