<header>
	<div class="pt-6 lg:pt-12 ">
		{{/* 		<a href="/"
			class="px-6 font-bold text-3xl block text-primary-color font-brand no-underline">
			{{.Site.Title}}
		</a>
		<div class="px-6 text-sm tracking-wide text-grey-darkest">
			{{.Site.Params.subtitle}}
		</div> */}}

		<a href="/"
			class="block no-underline">
			<img src="/images/tnd-logo-B50938.svg" alt="" class=" px-4 max-w-full">
		</a>
		<div class="flex items-center justify-center pt-8">
			{{ partial "_components/social-follow.html" (dict "cx" . "icon_size" "26px") }}				
		</div>
		<div class="pt-8 hidden sm:block">
			
			{{ partial "_global/menus.html" . }}
		</div>
	</div>
</header>
