{{ $currentPage := . }}

{{- partial "_global/navigation.html" . -}}
<header class="mb-4 relative">



  <div class="pb3 ">


    <div id="page-header" class="pb-6 pt-4 px-3 lg:px-4 bg-grey-lighter">

      <div class="max-w-5xl mx-auto md:flex flex-wrap items-start">
        <div>
          <h1 class="font-brand dib-ns text-2xl md:text-4xl lh-title text-grey-darker ma0">
            {{if eq .Kind "taxonomy"}}
              {{$section_heading := .Site.GetPage "taxonomy" .Section }}
              {{with $section_heading}}{{- .Title -}}:
              {{end}}
            {{end}}
            {{/* {{$section_heading := .Site.GetPage "section" .Section }}
              {{with $section_heading}}{{- .Title -}}:{{end}} */}}
            {{- $.Title -}}
          </h1>
          {{- with .Params.description -}}
            <h2 class="dib-ns text-lg lh-copy text-grey-darker measure-wide-l pl4">
              {{- . -}}
            </h2>
          {{- end -}}
        </div>
        {{/* {{partial "search/global-searchbox.html" .}} */}}
        {{/* {{if eq .URL "/search/"}}{{end}} */}}

      </div>

    </div>

  </div>
  <div id="results" class="js-only absolute pin-r pin-t z-50 shadow-md">
    {{partial "search/results-global.html" .}}
  </div>
</header>
