{{ $currentPage := . }} {{/* border-t-4 border-primary-color */}}
<nav class="bg-primary-color text-grey-light py-4 lg:py-0" role="navigation">
  <div class="mx-auto flex flex-wrap justify-between items-center max-w-5xl pl-8">

    <div class="md:flex flex-wrap items-center flex-grow">
      <div class="py-6">        
        <a href="/" class="font-brand inline-block lg:mr-3 leading-none mb-0 hover:text-grey text-4xl tracking-tightf no-underline text-white font-bold">
          {{- .Site.Title -}}
        </a>        
        <div class="block font-sans font-white tracking-wide text-base">
          {{- .Site.Params.subtitle -}}
        </div>
      </div>


    {{- if .Site.Menus.main -}}
    <ul class="p-0 mt-4 md:mt-0 md:ml-4 ">
      {{- range .Site.Menus.main -}}
      <li class="inline-block text-lg h-full mb-3 sm:mb-0">
        <a class="font-sans text-base hover:text-grey-light no-underline pointer pr-4 py-4{{ if in $currentPage.URL .URL  }} text-grey-light{{ else }} text-white{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
            {{- .Name -}}
          </a>
      </li>
      {{- end -}}
      
    </ul>
    {{- end -}}
</div>
    {{/* <div class="hidden lg:flex opacity-75 flex-wrap items-center">
      {{ partial "_components/social-follow.html" (dict "cx" . "icon_size" "28px") }}
    </div> */}}
    {{/*  {{partial "search/searchbox-nav.html" .}}  */}}
  </div>
</nav>
