{{ define "main" }}
  <article id="filter" class="page-list_default mx-auto">
    {{- partial "_components/page-heading.html" . -}}
    {{- partial "_components/page-content.html" . -}}

    <section
      class="filteredlist content mt-8 grid-cols-2 lg:grid-cols-3 gap-6 sm:grid xl:grid-cols-4"
    >
      {{ range (.Paginator 20).Pages }}
      <dl class="border border-grey-200 bg-white mb-6">
        {{ $vendor := .Params.vendor }}
        {{ $url := .URL }}
        {{ $title := .Title }}
        {{ $image := "" }}
        {{ with .Params.images }}
        {{ $image = index . 0 }}
        {{ end }}
        {{ $image := $image }}

        {{ with.Params.video_id }}
        <div class="p-0">
          {{ $.Scratch.Set "video_id" . }}
          <a href="{{ $url }}" class="no-underline">
            <img src="/images/placeholder.svg" data-src="{{ if eq $vendor "YouTube" }}https://img.youtube.com/vi/{{ . }}/hqdefault.jpg{{ else if eq $vendor "Vimeo" }}https://i.vimeocdn.com/video/{{ . }}_640.jpg{{ end }}" alt=""
            class="lazyload max-w-full">
          </a>
          <h3 class="text-sm text-gray-700 font-sans py-2 px-2">{{ $title }}</h3>
        </div>
        {{ else }}
        <a href="{{ $url }}" class="no-underline">
          {{ with $image }}
          <img src="/images/placeholder.svg" data-src="{{ . }}" alt="" class="lazyload max-w-full">
          {{ end }}
        </a>
        <h3 class="text-sm text-gray-700 font-sans py-2 px-2">{{ $title }}</h3>
        {{ end }}
      </dl>
      {{ end }}
    </section>	
  </article>
{{ end }}
