{{/* {{.Scratch.Set "page" .URL}} */}}
{{ $currentPage := .URL}}

<aside class="sidebar hidden md:block bg-grey-lighter mx-4">
  <ul class="list-reset pb-4 pt-6">
    {{if eq .Kind "taxonomy"}}
      <li class="black hover-white">
        <a href="{{ "/tool/" | relLangURL }}" class="text-grey-dark hover:text-grey-darkest text-xl block hover:bg-grey no-underline px-2 py-2">
          &laquo; All Tools
        </a>
      </li>
    {{end}}

    {{- with .Site.Menus.tools -}}
      {{- range . -}}
        {{ if .HasChildren }}
          <li>
            {{template "link" (dict "item" . "currentPage" $currentPage)}}
              <ul class="list-reset ml-4">
                {{ range .Children }}
                  <li>
                    {{template "link" (dict "item" . "currentPage" $currentPage)}}
                  </li>
                {{ end }}
              </ul>
        {{else}}
          <li>
            {{template "link" (dict "item" . "currentPage" $currentPage)}}
          </li>
        {{end}}
      {{- end -}}
    {{- end -}}
  </ul>
</aside>



{{define "link"}}
  {{ $currentPage := .currentPage }}
  <a href="{{.item.URL}}" class="hover:bg-grey hover:text-grey-darkest lg:text-2xl text-grey-dark no-underline block px-6 py-2{{if eq $currentPage .item.URL}} bg-black{{end}}">
    {{- .item.Name -}}

  </a>
{{end}}
