{{/* {{.Scratch.Set "page" .URL}} */}}
{{ $currentPage := .URL}}

<aside class="sidebar hidden md:block bg-grey-darker mx-4">
  <ul class="list-reset pb-4 pt-6">

      <li class="black hover-white">
        <a href="{{ "/tool/" | relLangURL }}" class="hover:bg-grey-darkest hover:text-white lg:text-lg no-underline block px-6 py-1{{if eq $currentPage "/tool/"}} bg-grey-darkest text-white{{ else }} text-grey-lightest{{end}}">
          All Tools
        </a>
      </li>
    {{- with .Site.Menus.tools -}}
      {{- range . -}}
        {{ if .HasChildren }}
          <li>
            {{template "link" (dict "item" . "currentPage" $currentPage)}}
              <ul class="list-reset ml-4">
                {{ range .Children }}
                  <li>
                    {{template "link" (dict "item" . "currentPage" $currentPage)}}
                  </li>
                {{ end }}
              </ul>
        {{else}}
          <li>
            {{template "link" (dict "item" . "currentPage" $currentPage)}}
          </li>
        {{end}}
      {{- end -}}
    {{- end -}}
  </ul>
</aside>



{{define "link"}}
  {{ $currentPage := .currentPage }}
  <a href="{{.item.URL}}" class="hover:bg-grey-darkest hover:text-white lg:text-lg no-underline block px-6 py-1{{if eq $currentPage .item.URL}} bg-grey-darkest text-white{{ else }} text-grey-lightest{{end}}">
    {{- .item.Name -}}

  </a>
{{end}}
