{{ $currentPage := . }}
<aside class="sidebar hidden md:block bg-grey-lighter mx-4">
  <ul class="list-reset pb-4 pt-6">
    {{if eq .Kind "taxonomy"}}
      <li class="black hover-white">
        <a href="{{ "/tool/" | relLangURL }}" class="text-grey-dark hover:text-grey-darkest text-xl block hover:bg-grey no-underline px-2 py-2">
          &laquo; All Tools
        </a>
      </li>
    {{end}}

    {{ range $name, $taxonomy := .Site.Taxonomies.tools }}
      {{$detail := $.Site.GetPage "taxonomy" "tools" $name }}
      {{with $detail}}
        {{$link := printf "%s%s%s" "/tools/" $name "/"}}
        <li class="">
          <a href="{{ $link }}" class="hover:bg-grey hover:text-grey-darkest lg:text-2xl text-grey-dark no-underline block px-6 py-2 {{if eq $currentPage.URL $link}} bg-black{{end}}">
            {{- .Title -}}
          </a>
        </li>
      {{end}}
    {{ end }}
  </ul>
</aside>
