{{ define "main" }}
  <article id="filter" class="page-list_default mx-auto">
    {{- partial "_components/page-heading.html" . -}}
    {{- partial "_components/page-content.html" . -}}
    <section class="filteredlist mt-8 content grid-columns-2 lg:grid-columns-3 grid-gap-4 sm:grid xl:grid-columns-4">
      {{ range (.Paginator 80).Pages }}
      <dl class=" border-2 border-grey-lighter bg-white shadow mb-8 ">
        {{- .Render "summary" -}}
      </dl>
      {{ end }}
    </section>    
  </article>
{{ end }}
