---
title: Meetups
layout: default
section: links
schema: https://schema.org/WebPage
---
{% assign articles = site.posts | where: 'meetup', 'the-new-dynamic' | sort: 'date', 'last' | reverse %}
{% assign meetups = site.meetups | where_exp: 'item', 'item.slug != "the-new-dynamic"'  %}
{% assign box_classes = 'list-reset col-12 md-col-8 md-pr2 mr-auto'  %}
{% assign list_classes = 'list-reset col-12'  %}
{% assign list_heading_classes = 'bold h2 pl2'  %}

<h1>
  {{ layout.title }}
</h1>
{{ content }}


{% comment %}
{% assign tags = post.tags %}
<!--
<div class="clearfix col-12 mb3">
  {% for tag in tags %}
    <a href="{{ object.url }}" class="{{ site.btn_classes }}{% if page.url contains object.url %} accent-color{% endif %}" style="background-color:{{ object.color }};color:{{ object.text_color }}">
      {{ tag }}
    </a>
  {% endfor %}
  <a href="/tools/" class="{{ site.btn_classes }}{% if page.url == '/tools/' %} accent-color{% endif %}">
    All
  </a>
</div> -->
{% endcomment %}

{% assign current_date = site.time | date: "%Y%m%d" %}


<h2 class="h2 bold">
  Recent & Upcoming
</h2>
<div class="flex flex-wrap">
  {% for object in articles limit:50 %}
    {% if object.category contains 'event' %}
    {% assign event_date = object.start_at | date: "%Y%m%d" %}
      <div class="col-12 md-col-6 pr2 mb2">
        {% if event_date >= current_date %}
             <a href="{{ object.link }}" class="block h4 py1 px3 text-decoration-none white bg-accent-color hover-bg-black">
            Upcoming: {{ object.start_at | date: "%A, %b %d" }}  {{ object.start_at | date: "%l:%M %P" }} <span class="pl4">JOIN</span>
            </a>
        {% endif %}

        {% include components/article-list-item.html %}
      </div>
    {% endif %}
  {% endfor %}

</div>

<div class="clearfix col-12">
<h2 class="h2 bold">
  Other Meetups
</h2>


{% for object in meetups  %}
  <a href="{{ object.website }}" class="h3 block text-decoration-none mr4">
    <span class="bold">{{ object.title }}</span>{% if object.location %}, {{object.location }}{% endif %}
  </a>
{% endfor %}
</div>
