---
title: Articles
layout: default
section: links
schema: https://schema.org/WebPage
---
{% assign articles = site.posts  | sort: 'date', 'last' | reverse %}
{% assign showcase = site.showcase %}
{% assign popular_tools = site.tools | where: 'featured', true | sort: 'size', 'last' %}
{% assign latest_tools = site.tools | where_exp: 'item', 'item.featured != true' | sort: 'date', 'last' | reverse  %}
{% assign latest_links = site.links | sort: 'date', 'last' | reverse %}
{% assign showcase_item_links = 'col-12 sm-col-6 md-col-6 lg-col-3 sm-pr3 black text-decoration-none'  %}
{% assign box_classes = 'list-reset col-12 md-col-8 md-pr2 mr-auto'  %}
{% assign list_classes = 'list-reset'  %}
{% assign link_classes = 'dont-display-child-until-hover mb1 px2 py1 bg-near-white hover-bg-silver col-12 transition' %}

{{ content }}

<div class="col-12 clearfix">
  <h2 id="popular-tools" class="inline-block">
    <a href="/tools/" class="black text-decoration-none transition hover-primary-color">Popular Tools</a>
  </h2>
  <span class="h6">Article Count on upper-right corner</span>
</div>
  {% for object in popular_tools %}
    {% assign links = site.links | where_exp: 'item', 'item.tool contains object.slug' %}
    {% assign tool = object.tool_type[0] %}
    {% assign related_tool_type = site.tool_type | where: 'slug', tool %}
    <a href="{{ object.url }}" class="btn btn-outline border-divider-color text-decoration-none">
      {{ object.title }}
      {% if links.size > 0 %}
        <sup class="muted">
          {{ links.size }}
        </sup>
      {% endif %}
    </a>
  {% endfor %}

<h2 id="articles"><a href="/articles/" class="black text-decoration-none transition hover-primary-color">Latest articles</a></h2>
<div class="flex flex-wrap">
  {% for object in articles limit:2 %}
    <div class="col-12 md-col-6 pr2 mb2">
      {% include components/article-list-item.html %}
    </div>
  {% endfor %}
</div>

<h2 id="showcase"><a href="/showcase/" class="black text-decoration-none transition hover-primary-color">Latest Showcase Sites</a></h2>
  {% assign showcase = showcase | sort: 'date', 'last' | reverse %}
<div class="flex flex-wrap justify-around">
  {% for object in showcase limit: 4 %}
    {% assign title = object.title %}
    {% assign url = object.url %}
    {% if site.image_url == 'http://localhost:3000' %}
      {% assign image = object.image_path | prepend: site.image_url %}
    {% else %}
      {% assign image = object.image_path | prepend: site.image_url | remove: 'uploads/' | append: '?w=250&q=95'  %}
    {% endif %}
    {% assign tool = object.tool_type[0] %}
    {% assign tools = object.tools %}
    {% assign related_tool_type = site.tool_type | where: 'slug', tool %}
    {% include components/showcase-item.html showcase_item_links=showcase_item_links %}
  {% endfor %}
</div>

<div class="col-12 clearfix">
  <h2 id="tools" class="inline-block">
    <a href="/tools" class="transition hover-primary-color black text-decoration-none">New Tools</a>
  </h2>
</div>

{% for object in latest_tools limit:6 %}
  {% assign links = site.links | where_exp: 'item', 'item.tool contains object.slug' %}
  {% assign tool = object.tool_type[0] %}
  {% assign related_tool_type = site.tool_type | where: 'slug', tool %}
  <a href="{{ object.url }}" class="btn btn-outline border-divider-color text-decoration-none">
    {{ object.title }}
    {% if links.size > 0 %}
      <sup class="muted">
        {{ links.size }}
      </sup>
    {% endif %}
  </a>
{% endfor %}

<h2 id="links" class="mt3">
  <a href="/links/" class="black text-decoration-none transition hover-primary-color">Latest Links</a>
</h2>
<div class="flex flex-wrap">
  {% for object in latest_links limit:18 %}
    <ul class="list-reset md-col-4 pr2 mb0">
      {% include components/links.html link_classes=link_classes %}
    </ul>
  {% endfor %}
</div>
