---
layout: default
section: page-listing
schema: https://schema.org/WebPage
---


  {{ content }}





  <div class="col col-12 lg-col-5 bg-white p2">
    <h3>Articles and Event Recaps</h3>

    {% assign posts = "" | split: "|" %}
    {% for item in site.posts %}
      {% if item.category != 'event' %}
        {% assign posts = posts | push: item %}
      {% endif %}
    {% endfor %}

    {% assign posts = posts | sort: 'date', 'last' | reverse  %}

    {% for object in posts   %}
        {% include components/article-list-item.html %}
    {% endfor %}


  </div>


  <div class="col col-5">


{% include list-events.html %}







  </div>
