---
title: Showcase
layout: default
section: page-listing
schema: https://schema.org/WebPage
paginate:
  collection: showcase
---
{% assign tool_type = (site.tool_type)  | sort: 'title', 'last' %}
{% assign showcase = site.showcase %}
{% assign showcase_item_links = 'col-12 sm-col-6 md-col-6 lg-col-6 sm-pr3 mb4 black text-decoration-none'  %}
{% if page.url == '/showcase/' %}
  {% assign tools = (site.tools  sort: 'title', 'last' ) %}
{% else %}
  {% assign tools = (site.tools | where: 'tool_type', page.slug | sort: 'title', 'last' ) %}
  {% assign title = page.title  %}
{% endif %}

  <h1 class="">
    {{ layout.title }}{% if title %}: {{ title }}{% endif %}
  </h1>
  {{ content }}

  <div class="clearfix col-12 mb3 hide">
    {% for object in tools %}
      <a href="{{ object.url }}" class="mb2 {{ site.btn_classes }}{% if page.url contains object.url %} accent-color{% endif %}">
        {{ object.title }}
      </a>
    {% endfor %}
    <a href="/tools/" class="{{ site.btn_classes }}{% if page.url == '/tools/' %} accent-color{% endif %}">
      All
    </a>
  </div>
  {% if showcase %}
    {% assign showcase = showcase | sort: 'date', 'last' | reverse %}
  <div class="flex flex-wrap justify-around">
    {% for object in showcase %}
      {% assign title = object.title %}
      {% assign url = object.url %}
      {% if site.image_url == 'http://localhost:3000' %}
        {% assign image = object.image_path | prepend: site.image_url %}
      {% else %}
        {% assign image = object.image_path | prepend: site.image_url | remove: 'uploads/' | append: '?w=550' %}
      {% endif %}
      {% assign tool = object.tool_type[0] %}
      {% assign tools = object.tools %}
      {% assign related_tool_type = site.tool_type | where: 'slug', tool %}
      {% include components/showcase-item.html showcase_item_links=showcase_item_links %}
    {% endfor %}
  </div>
{% endif %}
 <!-- | append: '?w=800&h=800&fit=crop' -->
