---
layout: default
---
<div class="has-layout layout-2-column">
  <article class="hentry spf-animate">
    {% if page.image_path %}
      {% assign image = page.image_path %}
      <img src={{ image | imgix_url }} style="border:1px solid #ddd;margin: auto;">
    {% endif %}
    <hr />
    {% capture number_of_words %}{{ page.content | number_of_words | minus: 3 }}{% endcapture %}

    {% unless number_of_words contains '-'  %}
      <h4>Developer's Notes</h4>

      {{page.name}}
      <div class="prose">
        {{ page.content }}
      </div>
    {% endunless %}
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
        {% if page.website %}
        <a href="{{ page.website }}" target="_blank">{{ page.website }} <i class="icons-ion-android-open smaller"></i></a>
        <hr />
        {% endif %}
        {% if page.creator[0].role %}
          {{ page.creator[0].role }}:<br />
        {% endif %}
        {% if page.creator[2].name %}
          {% if page.creator[1].link %}
            <a href="{{ page.creator[1].link }}">
              {{ page.creator[2].name }} <i class="icons-ion-android-open smaller"></i>
            </a>
          {% else %}
            {{ page.creator[2].name }}
          {% endif %}
        {% endif %}
        <div style="margin:2em auto;">
          {% include prev-next.html %}
        </div>
    </div>
  </aside>
</div>