---
title: Showcase
layout: default
section: page-listing
schema: https://schema.org/WebPage
paginate:
  collection: showcase
---
{% assign box_link_classes = 'text-decoration-none block px2 py1 hover-primary-color-light hover-bg-primary-color-dark'  %}
{% assign title = page.title  %}
{% assign page_tools = page.tools %}
{% assign website = page.website  %}
{% assign repo = page.repo  %}
{% assign creators = page.creator  %}
{% if site.image_url == 'http://localhost:3000' %}
  {% assign image = page.image_path | prepend: site.image_url %}
{% else %}
  {% assign image = page.image_path | prepend: site.image_url | remove: 'uploads/' | append: '?w=900' %}
{% endif %}
<div class="clearfix col-12 mb3">
  {% for tool in page_tools %}
    {% assign tools = site.tools | where: 'slug', tool %}
    {% for object in tools  %}
      {% include components/buttons-tools-list.html %}
    {% endfor %}
  {% endfor %}
</div>

<h1 class="">
  {{ layout.title }}{% if title %}: {{ title }}{% endif %}
</h1>


<div class="col-12 clearfix lg-flex">

  <div class="col-12 lg-col-9 lg-pr2 mb2 lg-mb0">
    <img src="{{ image }}" alt="{{ title }} image" class="border border-divider-color" />
  </div>

  <div class="col-12 lg-col-3 py2 bg-primary-color-light">
    {% if website %}
      <a href="{{ website }}{{ site.utm_parameters_showcase }}" class="text-decoration-none px2">Visit &#8599;</a>
    {% endif %}
    {% if repo != '' %}
      <a href="{{ repo }}" class="text-decoration-none px2">Repo &#8599;</a>
    {% endif %}

    {% if creators %}
      {% for object in creators %}
        {% if object.role and object.name %}
          <h3 class="px2 mb0">
            {% if object.role %}
              {{ object.role }} by
            {% endif %}
            {% if object.name %}
              {{ object.name }}
            {% endif %}
          </h3>
        {% endif %}

        {% if object.url %}
          <a href="{{ object.url }}{{ site.utm_parameters_showcase }}" class="{{ box_link_classes }}">
            {{ object.url | remove: 'http://' | truncate:25 }}
          </a>
        {% endif %}
        {% if object.twitter_username %}
          <a href="https://twitter.com/{{ object.twitter_username }}" class="{{ box_link_classes }}">
            @{{ object.twitter_username }}
          </a>
        {% endif %}
      {% endfor %}
    {% endif%}
  </div>
</div>

<div class="col-12 lg-col-9 lg-pr1">
    {{ page.content | markdownify }}
</div>


{% include components/prev-next.html %}
