---
layout: default
section: page-listing
schema: https://schema.org/WebPage
---
{% assign tool_type = (site.tool_type)  | sort: 'title', 'last' %}
{% if page.url == '/tools/' %}
  {% assign tools = (site.tools | sort: 'title', 'last' ) %}

{% else %}
  {% assign tools = (site.tools | where: 'tool_type', page.slug | sort: 'title', 'last' ) %}
  {% assign title = page.title  %}
{% endif %}

<div class="p3">
  <h1>
    Tools{% if title %}: {{ title }}{% endif %}
  </h1>
  {{ content }}

  <div class="clearfix col-12 mb3">
    {% for object in tool_type %}
      <a href="{{ object.url }}" class="{{ site.btn_classes }}{% if page.url contains object.url %} accent-color{% endif %}" style="background-color:{{ object.color }};color:{{ object.text_color }}">
        {{ object.title }}
      </a>
    {% endfor %}
    <a href="/tools/" class="{{ site.btn_classes }}{% if page.url == '/tools/' %} accent-color{% endif %}">
      All
    </a>
  </div>

  <div class="flex flex-wrap justify-around">
    {% for object in tools %}
      {% assign tool = object.tool_type[0] %}
      {% assign related_tool_type = site.tool_type | where: 'slug', tool %}
      <a href="{{ object.link }}" class="col-12 sm-col-6 md-col-6 lg-col-4 rounded pr2 mb2 black text-decoration-none">
        <div class="p2 hover-bg-black hover-text-on-primary-color bg-primary-color-light" style="height:7rem;border-top:6px solid {{ related_tool_type[0].color }};">
          <div class="h3 bold">
            {{ object.title }}
          </div>
          <div class="h6">
            {% if object.description %}
              {{ object.description | markdownify | remove: '<p>' | remove: '</p>' | truncate: 150 }}
            {% else %}
              {{ object.content | markdownify | strip_html | truncate: 150 }}
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
