{{range .Data.Pages}}
  {{with .Params.tags}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "tags" . .}}
    {{end}}
  {{end}}
  {{with .Params.related_tools}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "related_tools" . .}}
    {{end}}
  {{end}}
  {{with .Params.license}}
    {{$.Scratch.SetInMap "license" . .}}
  {{end}}
  {{with .Params.data_model}}
    {{$.Scratch.SetInMap "data_model" . .}}
  {{end}}
{{end}}

<div class="flex flex-wrap">
{{$data_model := $.Scratch.GetSortedMapValues "data_model"}}
{{with $data_model}}
  <div class="">
    <h6 class="mb-2">Data Model</h6>
    {{range .}}
      <button id="{{urlize .}}" class='js-only filter-buttons-data_model border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
    {{end}}
  </div>
{{end}}

{{$license := $.Scratch.GetSortedMapValues "license"}}
{{with $license}}
  <div class="">
  <h6 class="mb-2">License</h6>
  {{range .}}
    <button id="{{urlize .}}" class='js-only filter-buttons-license border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
  {{end}}
  </div>
{{end}}

{{$related_tools := $.Scratch.GetSortedMapValues "related_tools"}}
{{with $related_tools}}
  <div class="">
    <h6 class="mb-2">Related Tools</h6>
    {{range .}}
    {{$related_tool := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0}}
      <button id="{{urlize .}}" class='js-only filter-buttons-tools border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{with $related_tool }}{{.Title}}{{end}}</button>
    {{end}}
  </div>
{{end}}


{{$tags := $.Scratch.GetSortedMapValues "tags"}}
{{with $tags}}
  <div class="">
    <h6 class="mb-2">Tags</h6>
    {{range .}}
      <button id="{{urlize .}}" class='js-only filter-buttons-tags border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
    {{end}}
  </div>
{{end}}
</div>

<hr />
<button id="clear-filters" class="js-only">
  clear
</button>
