<header>
  <div class="pb3 ">
    {{ partial "_global/navigation.html" . }}
    <div class="pv3 ph3 ph4-ns {{ .Site.Params.background_color_class | default "bg-black" }}">
      <h1 class="dib-ns f1 lh-title light-silver ma0">
        {{/* {{ humanize .Section  | default .Title }} */}}
        Tools Database

      </span>
      </h1>


      {{ with .Params.description }}
        <h2 class="dib-ns f4-l f5 lh-copy near-black measure-wide-l pl4">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
