{{range .Data.Pages}}
  {{with .Params.tags}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "tags" . .}}
    {{end}}
  {{end}}
  {{with .Params.related_tools}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "related_tools" . .}}
    {{end}}
  {{end}}
  {{with .Params.license}}
    {{$.Scratch.SetInMap "license" . .}}
  {{end}}
  {{with .Params.data_model}}
    {{$.Scratch.SetInMap "data_model" . .}}
  {{end}}
{{end}}


data_model
{{range $.Scratch.GetSortedMapValues "data_model"}}
  <button id="{{urlize .}}" class='js-only filter-buttons-data_model border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
{{end}}
<hr />
License
{{range $.Scratch.GetSortedMapValues "license"}}
  <button id="{{urlize .}}" class='js-only filter-buttons-license border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
{{end}}
<hr />
Related Tools
{{range $.Scratch.GetSortedMapValues "related_tools"}}
{{$related_tool := index (where (where $.Site.RegularPages ".Section" "tool") ".File.Path" "in" .) 0}}
  <button id="{{urlize .}}" class='js-only filter-buttons-tools border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{with $related_tool }}{{.Title}}{{end}}</button>
{{end}}
<hr />
tags
{{range $.Scratch.GetSortedMapValues "tags"}}
  <button id="{{urlize .}}" class='js-only filter-buttons-tags border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
{{end}}

<hr />

  <button class="js-only sort" data-sort="js-main-category">
    Sort by Type
  </button>
  <button id="clear-filters" class="js-only">
    clear
  </button>

  <input class="search" placeholder="Search" />
