{{range .Data.Pages}}
  {{with .Params.tags}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "tags" . .}}

    {{end}}
  {{end}}
  {{with .Params.related_tools}}
    {{range sort . "value" "asc"}}
      {{$.Scratch.SetInMap "related_tools" . .}}
    {{end}}
  {{end}}
{{end}}

{{range $.Scratch.GetSortedMapValues "tags"}}
  <button id="{{urlize .}}" class='js-only filter-buttons border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{.}}</button>
{{end}}
<hr />
Related Tools
{{range $.Scratch.GetSortedMapValues "related_tools"}}
{{$related_tool := index (where $.Data.Pages ".File.Path" "in" .) 0}}
  <button id="{{urlize .}}" class='js-only filter-buttons-tools border text-grey-darkest hover:bg-grey-darkest hover:text-white text-sm inline block mb-3 mr-3 px-3 py-2 rounded-sm'>{{with $related_tool }}{{.Title}}{{end}}</button>
{{end}}

<hr />

{{/* <script>
{{range $.Scratch.GetSortedMapValues "tags"}}
if (document.getElementById("filter-{{urlize .}}")) {
  document.getElementById("filter-{{urlize .}}").onclick = function() {
    tools.filter(function(item) {
      if (item.values().category == "{{.}}") {
        return true;
        console.log("CMS");
      } else {
        return false;
        console.log("not CMS");
      }
    });
  };
}
{{end}}
</script> */}}





  <button class="js-only sort" data-sort="js-main-category">
    Sort by Type
  </button>
  <button id="clear-filters" class="js-only">
    clear
  </button>

  <input class="search" placeholder="Search" />
