{% extends "templates/partials/base-layout-3-column.html" %}
{% block title %}{% parent %} - tools{% endblock %}

{% block content_aside_left %}

<h1><span class="light small">Showcase</span> {{ item.name }}</h1>

{# <div class="small-screenTK">{% include "templates/partials/format-tools-filters.html" %}<br /></div> #}
 {% if item.website %}
 <small>Website</small><br />
  <a href="{{ item.website }}" onclick="trackOutboundLink('{{ item.website }}'); return false;">{{ item.website|replace('http://', '')|replace('/', '', 'g') }}&nbsp;<i class="icon-ion-android-open smaller"></i></a>
 {% endif %}
<hr />
{% spaceless %}
  {% for row in item.who_is_involved %}
    {% if row.role %}
      <small>{{ row.role }}</small>
    {% endif %}<br />
    {% if row.link %}
      <a href="{{ row.link }}">
        {{ row.name }}
      </a>
      &nbsp;<i class="icon-ion-android-open smaller"></i>
    {% else %}
      {{ row.name }}
    {% endif %}
  {% endfor %}
{% endspaceless %}

  {% set tools = item.tools %}
  {% if tools %}
    <hr />
    <small>Tools</small><br />
    {% for object in tools %}      
        <a href="{{ url(object) }}">
          {{ object.name }}
        </a>
      {% include "templates/partials/snippet-serial-commas.html" %}
    {% endfor %}
  {% endif %}

{% endblock %}

{% block content_center %}
  {% set data = cms.showcase %}
  {% set data = data|sort('name') %}
  <div id="filter-container">
    {# TODO: Fix Internal Filters <input class="search" type="search" placeholder="filter by name, source, or tool" /> #}
    <ul class="linksTK filter-list flex-boxes">
      {% include "templates/partials/format-showcase-individual.html" %}
    </ul>
</div>
{% endblock %}


{% block content_aside_right %}   
  {% include "templates/partials/prev-next.html" %}
{% endblock %} 