{% extends "templates/partials/base-layout-2-column.html" %}
{% block title %}{% parent %} - tools{% endblock %}

{% block content_aside_left %}
<h1>Showcase of Static Sites</h1>

{# <div class="small-screenTK">{% include "templates/partials/format-tools-filters.html" %}<br /></div> #}
<p class="small">This list is chosen by our editors and includes sites that show interesting use-cases of static sites.<br />Click on any image for details.</p>
{% endblock %}

{% block content_center %}
  {% set data = cms.showcase %}
  {% set data = data|sort('name') %}
  <div id="filter-container">
    {# TODO: Fix Internal Filters <input class="search" type="search" placeholder="filter by name, source, or tool" /> #}
    <ul class="linksTK filter-list flex-boxes">
    {% for object in data %}
      {% include "templates/partials/format-showcase.html" %}
      {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content_aside_right %}  
  <div class="large-screen">{% include "templates/partials/format-tools-filters.html" %}</div>
{% endblock %} 
