{{ $image_url := .image_url }}
{{ $limit := .limit | default 100 }}
{{ range first $limit (where .item.Site.RegularPages "Section" "article") }}
  <div class="flex flex-col bg-white justify-between border max-w-sm rounded overflow-hidden">
    {{ with .Params.images }}
      {{ $img := replace (index . 0) "/uploads" $image_url  }}
      <img src="/images/placeholder.svg" data-src="{{ $img }}?{{ (querify "w" "329" "h" "185" "fit" "crop" "crop" "faces") | safeURL }}" class="lazyload shadow mw-100">
    {{ end }}
  <div class="px-6 py-4">
    <span class="text-xs text-grey-darker">{{ partial "_components/time.html" (dict "context" . "show_time" false) }}</span>
    <h3 class="font-bold leading-tight mb-2 text-xl">
      <a href="{{ .Permalink }}" class="dim no-underline text-black">
        {{- .Title -}}
      </a>
    </h3>
    <p class="text-grey-darker text-sm">
      {{.Description}}
    </p>
  </div>
  <div class="px-6 py-4">
    {{ partial "_components/related_tools-tag.html" . }}
  </div>
</div>
{{ end }}
