<div class="bg-primary-color m-0 w-full hiddenTK no-print">
    <div class="text-center text-sm lg:text-lg md:text-base text-white px-4 py-3 lg:py-4 mx-auto">
        {{/* <!-- <a href="https://www.getrevue.co/profile/thenewdynamic" class="no-underline transition-color hover:text-grey-light text-white dim font-semibold">
            Click here to get our JAMstack Weekly Newsletter
        </a> --> */}}
        <a href="https://www.meetup.com/JAMstack-nyc/events/267118916/" class="no-underline transition-color hover:text-grey-light text-white dim font-semibold">
            Click here for ur Next Event, 1/14: 

            Scaling Static Sites with NextJS + Progressive Web "Apps" with 11ty
        </a>
        

        
    </div>
</div>
