{{ with .PrevInSection }}
  <button class="inline-block hover:bg-grey-light bg-grey-darkest text-white mb-1 pt-1 px-1 rounded hover:text-grey-darker">
    <a href="{{ .URL }}" class="color-inherit" title="{{ .Title }}">
      {{- partial "svg/chevron-left.svg" (dict "size" "28") -}}
    </a>
  </button>
{{ end }}

{{ with .NextInSection }}
  <button class="inline-block hover:bg-grey-light bg-grey-darkest text-white mb-1 pt-1 px-1 rounded hover:text-grey-darker">
    <a href="{{ .URL }}" class="color-inherit" title="{{ .Title }}">
      {{- partial "svg/chevron-right.svg" (dict "size" "28") -}}
    </a>
  </button>
{{ end }}
