<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "28px" }}
{{ with .Site.Params.facebook }}
  <a href="{{ . }}" class="dib facebook link link-transition mr2 pt0-l pt3 z-999" title="Facebook link">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.twitter }}
  <a href="{{ . }}" class="dib hover-white link-transition link pt3 pt0-l mr2 white-30 z-999" title="Twitter link">
    {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.instagram }}
  <a href="{{ . }}" class="dib link-transition instagram link mr3 pt3 pt0-l z-999" title="Instagram link">
    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.youtube }}
  <a href="{{ . }}" class="dib link-transition youtube link mr3 pt0-l pt3 z-999" title="Youtube link">
    {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}

{{ with .Site.Params.slack }}
  <a href="{{ . }}" class="hover-white link-transition slack link dib z-999 pt3 pt0-l mr0 white-30" title="Slack link">
    {{ partial "svg/Slack_Mark_Monochrome_White_compressed.svg" (dict "size" "50px") }}
  </a>
{{ end }}
{{ with .Site.Params.meetup }}
  <a href="{{ . }}" class="hover-white link-transition slack link dib z-999 pt3 pt0-l mr2 white-30" title="Slack link">
    {{ partial "svg/meetup.svg" (dict "size" "50px") }}
  </a>
{{ end }}
