<div class="clearfix">
  <nav class="col py2 font-family-brand bg-white borderTK border-silver rounded h4 bg-black">
    <a href="/" class=" hover-silver px1 py1">
      <img src="/assets/images/ic_home_black_24px.svg" class="align-bottom line-height-2" style="margin-bottom:.125em">
    </a>
    {% for object in navigation-links-primary %}
      <a class="caps py1 px1 lg-px2 line-height-2 black text-decoration-none hover-silver{% if page.url == object.url %} bg-near-brand{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
        {{ object.title }}
      </a>
    {% endfor %}
  </nav>
</div>
