
<link rel="apple-touch-icon" sizes="180x180" href="/uploads/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/uploads/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/uploads/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/uploads/icons/manifest.json">
<link rel="mask-icon" href="/uploads/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/uploads/icons/favicon.ico">
<meta name="msapplication-config" content="/uploads/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
