{% assign navigation-links = site.data.navigation-links %}
<header class="flefx flex-column fixed bottom-0 right-0 height-100 col-12 sm-col-12 lg-col-3 z2 bg-brand overflow-y transition" role="banner" data-search-index="false">

  <a href="/" class="text-decoration-none block white bold font-family-brand h1 line-height-1 pt2 lg-pt3 pl3 lg-pl2">    
    {{ site.title | default: 'Home' }}    
  </a>
  {% if site.description %}
  <p class="btn silver pl3">
    {{ site.description }}
  </p>
  {% endif %}
  
  {% for object in navigation-links-secondary %}
      <a class="btn btn-primary pl3 inline-block lg-block hover-silver{% if page.url == object.url %} bg-near-brand{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
        {{ object.title }}
      </a>
      
      {% endfor %}
  

    <div class="block mx3 my3" style="margin-top:auto;">
      <a href="/join-our-mailing-list/" class="btn btn-primary btn-outline border border-silver block rounded">
      join the mailing list
    </a>
    </div>
  
</header>
