<nav class="bg-brand db cf ph2">
  <div class="">    
    {% for link in site.data.nav-linksTK %}
     <a class="white hover-moon-gray no-underline f6 f5-ns dib mr3 mr4-ns" href="{{ link.url }}" title="{{ link.title }}">
      {{ link.title }}
     </a>
    {% endfor %}
  </div>
</nav>

<header class="tc pv4 pv5-ns bg-brand" role="banner">
  <img src="{{ site.logo }}" class=" pa1 ba b--black-10 h3 w3" alt="avatar" style="height:90px;">  
  <h1 class="f5 f4-ns fw6 light-gray">{{ site.title }}</h1>
  <h2 class="f6 gray fw2 ttu tracked">{{ site.description }}</h2>
</header>
