
<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-database.js"></script>



<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyApFV6OxHDuTLpvAfPlzj4dUKetG7fiHl8",
    authDomain: "thenewdynamic-org.firebaseapp.com",
    databaseURL: "https://thenewdynamic-org.firebaseio.com",
    storageBucket: "thenewdynamic-org.appspot.com",
    messagingSenderId: "205223763386"
  };
  firebase.initializeApp(config);

  // Get Elements
  const preObject = document.getElementById('object');
  const ulList = document.getElementById('list');

  // Create References
  const dbRefObject = firebase.database().ref().child('object');
  const dbRefList = dbRefObject.child('hobbies');

  // Sync Object changes

  dbRefObject.on('value', snap => {
    preObject.innerText = JSON.stringify(snap.val(), null, 3) ;
  } );

  // Sync List Changes

  // add
  dbRefList.on('child_added', snap => {
    const li = document.createElement('li');
    li.id = snap.key;
    li.innerText = snap.val();
    ulList.appendChild(li);
  })

  // change
  dbRefList.on('child_changed', snap =>{
    const liChanged = document.getElementById(snap.key);
    liChanged.innerText = snap.val();
  })


  // remove
  dbRefList.on('child_removed', snap =>{
    const liToRemove = document.getElementById(snap.key);
    liToRemove.remove();
  })


</script>
{% comment %}
<!--


<pre id="object">
</pre>

<ul id="list">

</ul> -->
{% endcomment %}




{% if page.previous or page.next%}
<script>
  document.body.onkeyup = function(e){
    {% if page.previous %}
      if (e.keyCode == '37') { window.location = '{{ page.previous.url }}'; }
    {% endif %}
    {% if page.next %}
      if (e.keyCode == '39') { window.location = '{{ page.next.url }}'; }
    {% endif %}
  };
</script>
{% endif %}


<script type="text/javascript">
var MTIProjectId='0279604d-1ddd-4c0d-b491-eff8ca0e76df';
 (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
         mtiTracking.src='/assets/js/mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
   })();
</script>

<script type="text/javascript">
  var _sf_async_config = { uid: 64878, domain: 'thenewdynamic.org', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
