<!-- <script type="text/javascript" src="/static/js/dist/scripts-concatenated.min.js" asyn="true"></script> -->


<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Lato:400,400italic,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>




<script>
  document.body.onkeyup = function(e){
    {% if page.previous %}
      if (e.keyCode == '37') { window.location = '{{ page.previous.url }}'; }
    {% endif %}
    {% if page.next %}
      if (e.keyCode == '39') { window.location = '{{ page.next.url }}'; }
    {% endif %}
  };
</script>
