{% if page.previous or page.next%}
<script>
  document.body.onkeyup = function(e){
    {% if page.previous %}
      if (e.keyCode == '37') { window.location = '{{ page.previous.url }}'; }
    {% endif %}
    {% if page.next %}
      if (e.keyCode == '39') { window.location = '{{ page.next.url }}'; }
    {% endif %}
  };
</script>
{% endif %}


<script type="text/javascript">
var MTIProjectId='0279604d-1ddd-4c0d-b491-eff8ca0e76df';
 (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
         mtiTracking.src='/assets/js/mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
   })();
</script>

<script type="text/javascript">
  var _sf_async_config = { uid: 64878, domain: 'thenewdynamic.org', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
