<footer class="bg-light-gray bottom-0 w-100 pa4" role="contentinfo">
  <div class="flex items-center">
  <a class="f6 fw4 hover-white  link gray pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>

  {{ if .Site.Menus.secondary }}
    <ul class="pa0 ml6">
      {{ range .Site.Menus.secondary }}
      <li class="f2 list mb3">
        <a class="dim link gray pointer" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  {{ end }}

  <div class="ml7-l">
    <p class="lh-copy gray mb4 measure">{{ .Site.Params.description  }}</p>

      <a href="http://newsletter.thenewdynamic.org/" class="ba b--light-gray db f3 bg-red link ph3 pv2 tc white">Get our Weekly Newsletter</a>

  </div>



  </div>
</footer>
