
{{ define "addtohead" }}
	{{ partial "tnd-search/instantsearch/tags" (slice "tools") }}
{{ end }}

{{ define "main" }} 

{{- partial "_components/page-heading.html" . -}}
{{- partial "_components/page-content.html" . -}}
<!-- <a href="" id="fb_share" target="_blank">Share this page</a> -->
<div id="filter_content" class="gap-6 mt-8 md:grid grid-cols-16 js-only">
	<div class="col-span-4 text-base text-gray-800">
		{{ partial "search/refinement-lists.html" . }}	
	</div>
	<div class="col-span-12 pt-15">    
		<!-- <div id="searchbox"></div> -->
		{{ partial "search/searchbox.html" . }} 
		<div id="hits"></div>
	</div>
</div>
<div class="mt-16" id="powered-by"></div>

{{ end }}
