{{ define "header" }}{{- partial "_global/navigation.html" . -}}{{ end }}

{{ define "main" }}

<div class="mt-16 center max-w-5xl mx-auto px-3 lg:px-4 grid-columns-3 grid-gap-4 sm:grid lg:grid-columns-4 ">
  {{ range (where .Site.RegularPages "Section" "article") }}

  <div class="border max-w-sm rounded overflow-hidden shadow-lgTK">
    {{/* <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains"> */}}
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ .Title }}</div>
      <p class="text-grey-darker text-base">
        {{.Description}}
      </p>
    </div>
    <div class="px-6 py-4">
      {{ partial "_components/related_tools-tag.html" . }}
    </div>
  </div>



  {{ end }}

</div>



{{ end }}
