{{ $currentPage := . }}

<header class="mb-8">
  <div class="pb3 ">
    {{- partial "_global/navigation.html" . -}}
    <div class="pb-6 pt-4  px-3 lg:px-4 bg-grey-light">
      <h1 class="font-brand dib-ns text-4xl lh-title text-grey-dark ma0">

      {{/* {{- range .Site.Menus.main -}}
        {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
          {{- .Name -}}
          dd{{$.Scratch.Set "inMenu" true}}
          [{{$.Scratch.Get "inMenu"}}]
        {{else}}
          {{$.Scratch.Set "inMenu" false}}
        ({{$.Scratch.Get "inMenu"}})
        {{- end -}}
      {{- end -}}

      {{if eq ($.Scratch.Get "inMenu") false }}(({{ $.Title }})){{end}} */}}
      {{ $.Title }}
      </span>
      </h1>
      {{- with .Params.description -}}
        <h2 class="dib-ns text-lg lh-copy text-grey-darker measure-wide-l pl4">
          {{- . -}}
        </h2>
      {{- end -}}
    </div>
  </div>
</header>
