:root {
  --sidebar-width: 23%;
  --red: #8c1613;
  --primary-color:        var(--blue);
  --primary-color-dark:   var(--dark-blue);
  --primary-color-light:  var(--light-blue);
  --accent-color:         var(--gray);
  --accent-color-light:   var(--light-gray);
  --accent-color-dark:    var(--dark-gray);
  --text-color-primary:   #373737;
  --text-on-primary-color: var(--white);
  --text-color-secondary: var(--mid-gray);
  --text-color-disabled:  var(--silver);
  --divider-color:        var(--light-silver);
  --warn-color: var(--dark-red);
}
