/* Search */

.results-hidden {
  z-index: -9999;
  visibility: hidden;
  display: none;
}


.ais-pagination {
  @apply .list-reset .border .rounded .inline-block .px-2 .py-2 .mt-4;

}

.ais-pagination li {
  display: inline;
}

li.ais-pagination--item__active a, .ais-pagination li a:hover {
  @apply .bg-grey-dark text-white .rounded;
}


.ais-pagination li a, .ais-pagination li a:link, .ais-pagination li a:active {
  @apply .text-grey-dark .no-underline .px-2 .py-1;
}

li.ais-pagination--item__active a{
  @apply .text-white;
}

li.ais-pagination--item__first {
  @apply .ml-4;
}
li.ais-pagination--item__last {
  @apply .mr-4;
}




.nice-outline {
outline:none;
text-decoration: underline;

}


.button_c {
  @apply border border-grey-light text-sm inline-block mb-3 mr-3 px-3 py-2 rounded-sm;
}

.button_c:hover {
  @apply bg-grey-darkest text-white
}
