@tailwind preflight;

@tailwind utilities;

html.no-js .js-only{
  visibility: hidden;
}
html.js .js-only{
  visibility: visible;
}

.facebook, .twitter, .instagram, .youtube, .meetup, .slack {
  color: #BABABA;
}
.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #55acee;
}

.instagram:hover, .slack:hover {
  color: #e95950;
}

.youtube:hover, .meetup:hover {
  color: #bb0000;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

@supports (display: grid) {
  .dg {
    display: grid
  }

  .g-gap-10 {
    grid-gap: 1rem;
  }

  .g-columns-100 {
    /*grid-template-columns: 100px;*/
    /*grid-template-columns: repeat(6, 200px);*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
               "....... header  header"
                             "sidebar content";

    }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
               "....... header  header"
                             "content content sidebar";

    }


    .sidebar {
      grid-area: sidebar;
    }

    .content {
      grid-area: content;
    }
    .header {
      grid-area: header;
    }





}


.drawer-visible {
  /* transform: translate(0, 0px); */
  transform: translate3d(0,  0,  10);
  opacity: 1;
    transition: transform .25s ease-out, opacity .45s ease-in-out;
}
.drawer-hidden {
  /* transform: translate(-250000, 0); */
  opacity: 0;
  transform: translate3d(0,  -25000px, 0)

}


.nice-outline {
outline:none;
text-decoration: underline;

}


.button_c {
  @apply border border-grey-light text-sm inline-block mb-3 mr-3 px-3 py-2 rounded-sm;
}

.button_c:hover {
  @apply bg-grey-darkest text-white
}
