{# ------------------------------------------------------- #}

{# 404 PAGE #}

{# This is the 404 page that will display on the live site for users. #}
{# It does not appear when you run your site locally. #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{% block content %}

  <h1>404 - Nothing to see here</h1>

  <p><a href="/">Take me home!</a></p>

{% endblock %}
