{% extends "templates/partials/base-links.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}



{% block content_aside_left %}
<h4>Static Site Generators and the Post-CMS paradigm</h4>
<button type="button" class="js-menu-trigger sliding-panel-button">Choose a Tool</button>

<div class="medium-screen-up">
<hr />
{% include "templates/partials/twitter-timeline.html" %}
</div>

{% endblock  %}


{% block content_links %}
  {% set data = cms.links %}
  {% set data = data|sort('publish_date', true) %}
  {% set data = paginate(data, 500) %}

  <div id="filter-container">
  
    <input class="search" type="search" placeholder="filter by name, source, or tool" />
  
      {# TODO: This reloads the page in some browsers 
      <form>     
      <button onclick="linksList.filter();">Reset</button>
      </form>
       #}
  <ul class="links links-external filter-list">
    {% for object in data %}
    
      <li class="{% if object.video %}video-link{% endif %}{% if object.editor_recommends > 1 %} recommended{% endif %}"  >
        <a href="{{ url(object) }}" target="_blank">
          <div style="width:100%;">
            <span class="name">{{ object.name }}</span>
            {% if object.source %}<small style="color:#777;" class="source">by {{ object.source }}</small>{% endif %} 
            <span class="type hide">{% if object.type %}{{ object.type }}{% endif %}</span>
            <span class="recommended hide">{% if object.editor_recommends %}Recommended{% endif %}</span>

            <span></span>         
          </div>
        </a>

        <span class="more">
          <em>{{ object.publish_date|date('F jS, Y') }}</em>
          {% if object.tool  %}<br />{% endif %}
          {% for tool in object.tool %}
            <strong><a href="{{ url(tool) }}" class="tool{{ loop.index }}">{{ tool.name }}</a>{% if not loop.last %}, {% endif %}</strong>
          {% endfor %}
          {% if object.summary %}
          <br />
          {{object.summary|markdown}}
          {% endif %}

          {% if object.video %}
          <small class="video">VIDEO</small>
            
          {% endif %}
        
        </span>
      </li>
      
      {% endfor %}
  </ul>

</div>

{% endblock %}



  {% block content_aside_right %}      
    
    
<div class="button-group">
<button id="filter-News" />News {{object.length }}</button>
<button id="filter-Tutorial" />Tutorial</button>
<button id="filter-Article" />Article</button>
<button id="filter-Resource/Website" />Resource</button>
<button id="filter-Video/Presentation" />Presentation</button>
<button id="filter-none" />all</button>
{# <button id="filter-Recommended" />Recommended</button> #}
</div>



<ul>
{% include "templates/partials/navigation-tools-list.html" %}
<li><a href="/tools/">More Tools</a></li>
</ul>
  {% endblock %}
