{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH venues #}
{# This page can use any data from http:localhost:2000/cms/#/form/venues/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this venues's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('venues') }}">View a list of all venues</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Geolocation: </strong>
        {% if item.geolocation %}
        <ul>
          <li>Latitude: {{ item.geolocation.latitude }}</li>
          <li>Longitude: {{ item.geolocation.longitude }}</li>
          <li>
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ item.geolocation.latitude }},{{ item.geolocation.longitude }}&zoom=8&size=400x400&markers=color:red%7C{{ item.geolocation.latitude }},{{ item.geolocation.longitude }}" />
          </li>
        </ul>
        {% endif %}
      </li>
      <li>
        <strong>Phone number: </strong>
        {{ item.phone_number }}
      </li>
      <li>
        <strong>Address: </strong>
        <address>
          {{ item.address.street1 }}<br/>
          {% if item.address.street2 %}{{ item.address.street2 }}<br/>{% endif %}
          {{ item.address.city }}, {{ item.address.state }}. {{ item.address.country }} {{ item.address.zip }}
        </address>
      </li>
  </ul>
{% endblock %}
