
:root {
  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);

  --black: #000;
  --near-black: #171515;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #ddd;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;
  --tnd-red: #8C1613;
  --tnd-red-lighter: #A21513;
  --brand-old: rgb(12, 30, 41);
  --brand: var(--tnd-red);
  --slate: #537282;
  --blue: #0074d9;
  --button-color: #fff;
  --button-background-color: var(--brand);
  --border-radius: 3px;
  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
 
}

h1,h2,h3 {
  color: var(--near-black);
}
.bg-brand { background-color: var(--brand)}

.bg-black  { background-color: var(--black) }
.bg-gray   { background-color: var(--gray) }
.bg-silver { background-color: var(--silver) }
.bg-white  { background-color: var(--white) }

.bg-white-70 { background-color: var(--white-70)}
.bg-near-white { background-color: var(--near-white)}

.black  { color: var(--black) }
.gray   { color: var(--gray) }
.silver { color: var(--silver) }
.white  { color: var(--white) }


.hover-black:hover { color: var(--black); }
.hover-near-black:hover { color: var(--near-black); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-mid-gray:hover { color: var(--mid-gray); }
.hover-gray:hover { color: var(--gray); }
.hover-silver:hover { color: var(--silver); }
.hover-light-silver:hover { color: var(--light-silver); }
.hover-moon-gray:hover { color: var(--moon-gray); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-near-white:hover { color: var(--near-white); }
.hover-white:hover { color: var(--white); }

.hover-bg-black:hover { background-color: var(--black); }
.hover-bg-near-black:hover { background-color: var(--near-black); }
.hover-bg-dark-gray:hover { background-color: var(--dark-gray); }
.hover-bg-mid-gray:hover { background-color: var(--mid-gray); }
.hover-bg-gray:hover { background-color: var(--gray); }
.hover-bg-silver:hover { background-color: var(--silver); }
.hover-bg-light-silver:hover { background-color: var(--light-silver); }
.hover-bg-moon-gray:hover { background-color: var(--moon-gray); }
.hover-bg-light-gray:hover { background-color: var(--light-gray); }
.hover-bg-near-white:hover { background-color: var(--near-white); }
.hover-bg-white:hover { background-color: var(--white); }
.hover-bg-transparent:hover { background-color: var(--transparent); }


