
:root {

  
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}




/*.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.overflow-y {
  overflow-y: auto;
}

  .height-100 {
    height: 100%;
    min-height:100vh;
  }
