
:root {

  --sidebar-width: 360px;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}


/*
TODO: make this responsive
*/
.w-sidebar-lg {
  width: var(--sidebar-width);
}
.m-sidebar {
  margin-right: var(--sidebar-width);
}



/*.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.overflow-y {
  overflow-y: auto;
}
.height-100 {
  height: auto;
  max-height: 15vh;
}
@media (--breakpoint-lg) {
  .height-100 {
    height: 100%;
    min-height:100vh;
  }
}