{
  "secretKey"   : "<%= secretKey %>",
  "siteName"   : "<%= siteName %>",
  "firebase"   : "<%= firebase %>",
  "embedly"    : "<%= embedlyKey %>",
  "server"     : "<%= serverAddr %>",
  "custom"     : true<% if (noSearch) { %>,
  "noSearch"   : <%= noSearch %><% } %><% if (imageproxy) { %>,
  "imageproxy" : "<%= imageproxy %>"<% } %>
}