{
  "secretKey"   : "<%= secretKey %>",
  "siteName"    : "<%= siteName %>"<% if (noSearch) { %>,
  "noSearch"    : <%= noSearch %><% } %><% if (imageproxy) { %>,
  "imageproxy"  : "<%= imageproxy %>"<% } %>
}
