
/*classes I've added*/
.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}
.pointer-events-none {
  pointer-events: none;
}
.mw5-5  {  max-width: 25rem; }

/*classes from their stuff not covered*/
.side-nav__container {
  transform: translateX(-102%);
  will-change: transform;
}
.side-nav--visible {
pointer-events: auto;
}

/*their styles*/
.side-nav::before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.4);
opacity: 0;
will-change: opacity;
transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}
.side-nav--animatable .side-nav__container {
transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}
.side-nav--visible.side-nav--animatable .side-nav__container {
transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}
.side-nav--visible::before {
opacity: 1;
}
.side-nav--visible .side-nav__container {
transform: none;
}
