.sans-serif {font-family: var(--sans-serif)}
.brand-font {font-family: var(--brand-font);font-weight: 800;}

.primary-color { color: var(--primary-color)}
.bg-primary-color { background-color: var(--primary-color)}
.hover-bg-primary-color:hover { background-color: var(--primary-color)}
.b--primary-color { border-color: var(--primary-color); }

.bg-primary-color-light { background-color: var(--primary-color-light)}
.bg-primary-color-lightest { background-color: var(--primary-color-lightest)}

.bg-accent-color-dark { background-color: var(--accent-color-dark)}
.bg-accent-color { background-color: var(--accent-color)}
.bg-accent-color-light { background-color: var(--accent-color-light)}
.bg-accent-color-lightest { background-color: var(--accent-color-lightest)}



.text-on-primary-color { color: var(--text-on-primary-color)}
.primary-text-color { color: var(--primary-text-color)}
.secondary-text-color { color: var(--secondary-text-color)}
.disabled-text-color { color: var(--disabled-text-color)}
.divider-color { color: var(--divider-color)}
.min-vh-75-l { min-height: 75vh; }
/*
.bg-light-blue {background-color:#0076B2;}
.br-light-blue {border-color: #0076B2;}
.blue {
  color: #0076B2;
  }*/
