{{ define "header" }}
<header>
  <div class="pb3 ">
    {{ partial "global/navigation.html" . }}
    <div class="pv3 ph3 ph4-ns {{ .Site.Params.background_color_class | default "bg-black" }}">
      <h1 class="dib-ns f1 lh-title light-silver ma0">
        {{/* {{ humanize .Section  | default .Title }} */}}
        Tools Database

      </span>
      </h1>


      {{ with .Params.description }}
        <h2 class="dib-ns f4-l f5 lh-copy near-black measure-wide-l pl4">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>

{{ end }}
{{ define "main" }}
{{ $section := (.Paginate (.Data.Pages.ByTitle)).Pages }}

  <article class="center nested-copy-line-height nested-img mw8 pa3 pa4-ns ">
  <main class="lh-copy mid-gray">
  <h1 class="">{{ .Title | humanize | title }}</h1>

    {{ .Content }}
  </main>


  <div class="">
  <input class="ba b--black-20 db f4 input-reset mb2 pa2 search w-80" type="search" placeholder="Type to Filter by name or keyword" name="q" autocomplete="off">
  </div>


  <div class=" wrapper">

    <section class="content dg g-gap-10 g-columns-100">
      {{ range  $section }}
        <div class="ba b--light-gray bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    <aside class="sidebar">
      <ul class="list pl0">
      <li class="black hover-white">
        <a href="{{ "/tool/" | relLangURL }}" class="black db hover-bg-near-white link ph3 pv2">
          All Tools
        </a>
      </li>
        {{ range $name, $taxonomy := .Site.Taxonomies.tools }}
          <li class="black hover-white">
            <a href="{{ "/tools/" | relLangURL }}{{ $name | urlize }}" class="black db hover-bg-near-white link ph3 pv2">
              {{ $name | humanize | title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </aside>
  </div>


    {{/* {{ template "_internal/pagination.html" . }} */}}
  </article>
{{ end }}
