<div class="level-1 w-100 w-100-m w-50-ns flex-ns primary-color-dark flex-column justify-between bg-white  black-70 ba b--light-gray">
  <div class="level-2 pt4 pb3 ph5 black-70">
    <h2 class="f4 mb0">
      {{ .heading | markdownify }}
    </h2>
    <div class="level-1-para f4 f5-m f4-l ph2 ph3-ns pt3 pb5 lh-copy">
     <h3 class="font-family-brand f1">{{ .video }}</h3>
      <div class="mid-gray">{{ .copy | markdownify }}</div>
    </div>
  </div>

  {{/* <div class="level-3 flex-ns flex-wrap">
    <div class="level-3a w-100 w-50-ns pv4 ph5 lh-copy bg-gold">
      <h3 class="mb1">The old model</h3>
      {{ .old_model | markdownify }}
    </div>
    <div class="level-3b w-100 w-50-ns pv4 ph5 lg-copy bg-primary-color text-on-primary-color">
      <h3 class="mb1">the New Dynamic</h3>
      {{ .new_model | markdownify }}
    </div>
  </div> */}}

</div>
