a { color: var(--blue)}
.muted { opacity: .5 }
.bg-red { background-color: var(--red);}

.white {color: var(--white)}
.bg-white {background-color: var(--white)}

.near-white {color: var(--near-white)}
.bg-near-white {background-color: var(--near-white)}

.silver {color: var(--silver)}
.bg-silver {background-color: var(--silver)}

.gray {color: var(--gray)}
.dark-gray {color: var(--dark-gray)}
.black {color: var(--black)}
.bg-black {background-color: var(--black)}
.hover-bg-black:hover {background-color: var(--black)}
.hover-black:hover {color: var(--black)}

.primary-color {color: var(--primary-color)}
.hover-primary-color:hover {color: var(--primary-color)}
.bg-primary-color {background-color: var(--primary-color)}
.hover-bg-primary-color:hover {background-color: var(--primary-color)}


.primary-color-dark {color: var(--primary-color-dark)}
.hover-primary-color-dark:hover {color: var(--primary-color-dark)}
.bg-primary-color-dark {background-color: var(--primary-color-dark)}
.hover-bg-primary-color-dark:hover {background-color: var(--primary-color-dark)}


.primary-color-light {color: var(--primary-color-light)}
.hover-primary-color-light:hover {color: var(--primary-color-light)}
.bg-primary-color-light {background-color: var(--primary-color-light)}
.hover-bg-primary-color-light:hover {background-color: var(--primary-color-light)}


.default-text-color  {color: var(--primary-text-color)}
.text-on-primary-color  {color: var(--text-on-primary-color)}
.hover-text-on-primary-color:hover  {color: var(--text-on-primary-color)}
.secondary-text-color  {color: var(--secondary-text-color)}
.disabled-text-color  {color: var(--disabled-text-color)}

.accent-color {color: var(--accent-color)}
.hover-accent-color:hover {color: var(--accent-color)}
.bg-accent-color {background-color: var(--accent-color)}
.hover-bg-accent-color:hover {background-color: var(--accent-color)}

.bg-light-accent-color {background-color: var(--light-accent-color)}
.hover-bg-light-accent-color:hover {background-color: var(--light-accent-color)}

.bg-dark-accent-color {background-color: var(--dark-accent-color)}
.hover-bg-dark-accent-color:hover {background-color: var(--dark-accent-color)}

.border-divider-color  { border-color: var(--divider-color); }
.border-dark-primary-color {border-color: var(--dark-primary-color)}


/* variables */
:root {
  --white: #FFF;
  --near-white: #F8F8F8;
  --silver: #E3E3E3;
  --gray:   #AAAAAA;
  --light-gray: #EEE;
  --dark-gray:  #333;
  --black:  #111111;
  --blue: #07c;
  --red: #8C1613;

  --primary-color: var(--gray);
  --primary-color-light:var(--silver);
  --primary-color-dark:var(--black);
  --accent-color          : #448AFF;
  --text-on-primary-color    : #FFFFFF;
  --default-text-color    : #212121;
  --secondary-text-color  : #555;
  --disabled-text-color:          var(--palette-Grey-400);
  --divider-color         : #DEDEDE;
    /*BassCSS overrides*/
  --button-background-color: var(--accent-color);


}


/*
.hover-bg-white:hover {background-color: var(--white)}
.hover-white:hover {color: var(--white)}*/
/*
.bg-near-white {background-color: var(--near-white)}
.hover-bg-near-white:hover {background-color: var(--near-white)}
.hover-near-white:hover {color: var(--near-white)}
*/
/*
.hover-bg-silver:hover {background-color: var(--silver)}
.hover-silver:hover {color: var(--silver)}
*/
/*
.light-gray {color: var(--light-gray)}
.bg-light-gray {background-color: var(--light-gray)}
.hover-bg-light-gray:hover {background-color: var(--light-gray)}
.hover-light-gray:hover {color: var(--light-gray)}
*/
/*
.bg-gray {background-color: var(--gray)}
.hover-bg-gray:hover {background-color: var(--gray)}
.hover-gray:hover {color: var(--gray)}
*/
/*
.bg-dark-gray {background-color: var(--dark-gray)}
.hover-bg-dark-gray:hover {background-color: var(--dark-gray)}
.hover-dark-gray:hover {color: var(--dark-gray)}
*/
