

body {
  background-color: green;
}

@media (--breakpoint-sm) {
  body {
    background-color: red;
  }
}
@media (--breakpoint-md) {
  body {
    background-color: blue;
  }
}

@media (--breakpoint-md-lg) {
  body, .bp {
    background-color: #FFF;
  }
}

@media (--breakpoint-lg) {
  body, .bp {
    background-color: #ccc;
  }
}

