

body {
  /*background-color: green;*/
  border-top: 6px solid green;
}

@media (--breakpoint-sm) {
  body {
    /*background-color: red;*/
    border-top: 6px solid red;
  }
}
@media (--breakpoint-md) {
  body {
    /*background-color: blue;*/
    border-top: 6px solid blue;
  }
}

@media (--breakpoint-md-lg) {
  body, .bp {
    /*background-color: #FFF;*/
    border-top: 6px solid #ccc;
  }
}

@media (--breakpoint-lg) {
  body, .bp {
    /*background-color: #ccc;*/
    border-top: 6px solid #444;
  }
}
