:root {
  --sidebar-width: 360px;
  --sidebar-width-sm: 320px;
}
  /*to show and hide the side nav*/

.expandable { transform: translateX(var(--sidebar-width))}

@media (--breakpoint-md) {
  .expandable {transform: translateX(0)}
  .m-sidebar {
    margin-right: var(--sidebar-width);
  }
}

.expandable:target {transform: translateX(0)}

.w-sidebar-lg {
  width: var(--sidebar-width);
  max-width: 100%;
}

@media (--breakpoint-md-lg) {
  .w-sidebar-lg {
  max-width:30%;
  }
}