:root {
  --font-brand:  'URW Franklin Gothic W01', 'Helvetica Neue', Helvetica, sans-serif;
    --font-primary:  'Avenir Next W00', 'Avenir Next','Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;

}

p {
  font-size: 1.25em;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .font-family-brand, .btn > .font-family-brand {
  font-family: var(--font-brand) ;
}

/*

   FONT FAMILY GROUPS

*/


  .lato {
    font-family: 'Lato','Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',sans-serif;
  }
  .font-weight-light {font-weight: 300;}
