.hide-child-until-hover > .hidden-child {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;}
.hide-child-until-hover:hover > .hidden-child {
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: .9;
}
