---
layout: default
---
{% assign data = site.posts | where: 'category', 'event' | sort: 'date' | reverse  %}
<div class="has-layout layout-2-column">
  <article class="hentry">
        <ul class="linksTK filter-list flex-boxes">
          {% for object in data %}
            {% include _format-posts.html %}
          {% endfor %}
        </ul>

  </article>
  <aside class="bottom">
    {% assign meetups = site.meetups %}
    <h4 class="highlight">
      Meetup Groups
    </h4>
    <div class="list-items">
      {% for object in meetups %}
        <div class="list-item">
          <h5 class="flush">{{ object.title }}</h5>
            {% if object.location and object.location != '' %}
              {% if object.website %}
                <small>
                  <a href="{{object.website}}">
                    {{ object.location}} <i class="icon-ion-android-open smaller"></i>
                  </a>
                </small>
              {% else %}
                {{ object.location}}
              {% endif %}
            {% elsif object.website and object.website !='' %}
              <small>
                <a href="{{object.website}}">
                  website <i class="icon-ion-android-open smaller"></i>
                </a>
              </small>
            {% endif %}
        </div>

      {% endfor %}
    </div>

  </aside>
</div>