---
layout: default
---
<div class="has-layout layout-2-column">
  <article>
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% assign data = site.posts | sort: 'date' | reverse  %}
          {% for object in data %}
            {% include _posts.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      <h3>Latest Links</h3>
      {% assign links = site.links | sort: 'date' | reverse %}
      <ul class="links links-external filter-list" style="margin-bottom:4em;">
        {% for object in links limit:4  %}
          {% include _links.html %}
        {% endfor %}
      </ul>
      {% include group-by-array.html collection=site.showcase field='tool' %}
      <h3>Showcased Tools</h3>
      <div class="button-group">
        {% for tag in group_names  %}
          <a href="/tool/{{tag}}">
            <button>
              {{tag | capitalize }}
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
  </aside>
</div>