---
layout: default
---
<div class="has-layout layout-2-column">
  <article>
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% assign data = site.posts | sort: 'date' | reverse  %}
          {% for object in data %}
            {% include _format-posts.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      {% assign links = site.links | sort: 'date' | reverse %}
      {% for object in links limit:4  %}
        {% include _format-list.html %}
      {% endfor %}



      {% include group-by-array.html collection=site.showcase field='tool' %}
      <div class="button-group">
        {% for tag in group_names  %}
          <a href="/showcase/{{tag.url}}">
            <button>
              {{tag | capitalize }}
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
  </aside>
</div>