---
layout: default
section: page
---
{% if page.include_before %}
  <section class="top">
    {% include {{page.include_before}} %}
  </section>
{% endif %}

<article class="hentry">
  <header>
    {% if page.title %}
      <h1 class="entry-title">{{page.title}}</h1>
    {% endif %}
    {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          last update: {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}
  </header>
  <div class="entry-content prose">
    {{ content }}
    {% include authors.html %}
    <hr />
    {% include sharing.html %}
  </div>
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
 </article>
