---
layout: default
---
{% if page.category %} {% comment %} if a category page, just show results from that cat {% endcomment %}
  {% assign data = site.showcase | where: 'category', page.category | sort: 'date' | reverse %}
{% else %} {% comment %} otherwise show all tools {% endcomment %}
  {% assign data = site.showcase | sort: 'date' | reverse  %}
{% endif %}
<div class="has-layout layout-2-column">
  <article>
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% for object in data %}
            {% include _showcase.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      {% include group-by-array.html collection=site.showcase field='tool' %}
      <div class="button-group">
        {% for tag in group_names  %}

            <button id="filter-{{ tag | slugify }}">
              {{ tag }}
            </button>

        {% endfor %}
      </div>
    </div>
  </aside>
</div>

<script type="text/javascript">
{% for tag in group_names  %}
if (document.getElementById("filter-{{ tag | slugify }}")) {
    document.getElementById("filter-{{ tag | slugify }}").onclick=function(){
            linksList.filter(function(item) {
               if (item.values().tool == "{{ tag | slugify }}" ) {
                 return true;
                 } else {
                 return false;
              }
          });
        };
      }
      if (document.getElementById("filter-{{ tag | slugify }}")) {
          document.getElementById("filter-{{ tag | slugify }}").onclick=function(){
                  linksList.filter(function(item) {
                     if (item.values().tool2 == "{{ tag | slugify }}" ) {
                       return true;
                       } else {
                       return false;
                    }
                });
              };
            }
  {% endfor %}
</script>