---
layout: default
---
{% if page.category %} {% comment %} if a category page, just show results from that cat {% endcomment %}
  {% assign data = site.showcase | where: 'category', page.category | sort: 'date' | reverse %}
{% else %} {% comment %} otherwise show all tools {% endcomment %}
  {% assign data = site.showcase | sort: 'date' | reverse  %}
{% endif %}

<div class="hero">
  <div class="layout">
    <div class="column-2">
      <h1 style="color:white;">
        {{ page.title }}
      </h1>
    </div>
    <div class="column-3">
      {{ page.content }}
    </div>
  </div>
</div>
<div class="layout-2-column">
  <article>
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% for object in data %}
            {% include _format-showcase.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      {% include group-by-array.html collection=site.showcase field='tool' %}
      <div class="button-group">
        {% for tag in group_names  %}
          <a href="/showcase/{{tag.url}}">
            <button>
              {{tag | capitalize }}
            </button>
          </a>
        {% endfor %}
      </div>
    </div>
  </aside>
</div>