---
layout: default
---
<div class="has-layout layout-2-column">
  <article>

    <img src="{{ site.image_url }}/{{ page.image_path }}?&usm=10" style="border:1px solid #ddd;margin: auto;">
    <hr />
    {% if page.content %}
      <h4>About the Project</h4>

      {{page.name}}
      {{ page.content }}
    {% endif %}
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
        {% if page.website %}
        <a href="{{ page.website }}" target="_blank">{{ page.website }} <i class="icon-ion-android-open smaller"></i></a>
        <hr />
        {% endif %}
        {% if page.creator[0].role %}
          {{ page.creator[0].role }}:<br />
        {% endif %}
        {% if page.creator[2].name %}
          {% if page.creator[1].link %}
            <a href="{{ page.creator[1].link }}">
              {{ page.creator[2].name }} <i class="icon-ion-android-open smaller"></i>
            </a>
          {% else %}
            {{ page.creator[2].name }}
          {% endif %}
        {% endif %}
        <div style="margin:2em auto;">
          {% include prev-next.html %}
        </div>
    </div>
  </aside>
</div>