---
layout: default
---
{% if page.category %} {% comment %} if a category page, just show results from that cat {% endcomment %}
  {% assign data = site.tool | where: 'tools', page.category | sort: 'title' %}
{% else %} {% comment %} otherwise show all tools {% endcomment %}
  {% assign data = site.tool | sort: 'title'  %}
{% endif %}
<div class="has-layout layout-2-column">
  <article>
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% for object in data %}
            {% include format-tools.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      {% include format-tools-filters.html %}
    </div>
  </aside>
</div>