---
layout: default
---
<div class="row" style="background-color:#821412;">
  <div class="layout">
    <div class="column-2">
      <h1 style="color:white;">
        {{ page.title }}
      </h1>
    </div>
    <div class="column-3">
      {{ page.content }}
    </div>
  </div>
</div>
<div class="layout-articleTK layout-2-column">
  <article>
    {% assign cat = page.category | slugify %}
    {% if page.category %} {% comment %} if a category page, just show results from that cat {% endcomment %}
      {% assign data = site.tool | where: 'category', page.category | sort: 'title' %}
    {% else %} {% comment %} otherwise show all tools {% endcomment %}
      {% assign data = site.tool | sort: 'title'  %}
    {% endif %}
    <div id="filter-container">
      <input class="search" type="search" placeholder="filter by name, source, or tool" />
        <ul class="linksTK filter-list flex-boxes">
          {% for object in data %}
            {% include format-tools.html %}
          {% endfor %}
        </ul>
    </div>
  </article>
  <aside class="bottom">
    <div class="small-screenTK">
      {% include format-tools-filters.html %}
    </div>
  </aside>
</div>