---
layout: default
---
{% assign this_tool = page.url | replace: '/tool/','' | replace: '/', '' %}
{% assign tool_category = site.tool_type | where: 'category', page.tools  %}
<div class="has-layout layout-article">
  <aside class="top">
    <h3>
      {{ tool_category[0].title }}
    </h3>
    <ul>
      {% for object in page.links %}
        <li>
          <a href="{{object[1]}}">{{ object[0] |replace: 'https://', '' |replace: 'http://', '' | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include links-related.html %}
  </aside>
  <article class="hentry">
    {{ content }}
    <hr />
    {% include showcase-related.html %}    
  </article>
  <aside>
    <div style="margin:2em auto;">
      {% include prev-next.html %}
    </div>
    {% include global/form-mailchimp.html %}
  </aside>
</div>