---
layout: default
---
<div class="layout-article">
  <aside class="left">
    <h1>
      <small>Tool: </small>
      {{ page.title }}
    </h1>
    <div class="small-screenTK">
      {% include format-tools-filters.html %}
    </div>
  </aside>
  <article>

    {{content}}

        <hr />
      cats: {{ page.category }}
    <hr />
    {% assign cat = page.category | slugify %}

    {{cat}}

    {% assign data = site.tool | where: 'category', page.category  %}

 <div id="filter-container">
   <input class="search" type="search" placeholder="filter by name, source, or tool" />
   <ul class="linksTK filter-list flex-boxes">
     {% for object in data %}



        {% include format-tools.html %}



     {% endfor %}
   </ul>
</div>




  </article>
</div>