.hero {
  $hero-background-color:darken($navigation-background, 2%);
  background-color:darken($hero-background-color, .9%);
  padding-top: 1em;
  padding-bottom:1em;
  @include media ($horizontal-bar-mode) {
    padding-top: 3em;
    padding-bottom:3em;
  }
  button {
    margin-right: 1em;
    margin-top: .5em;
  }
  a button{
    font-size: 1.1em;
    color: lighten($hero-background-color, .9%);
    background-color: #ddd;
    border-color: lighten($hero-background-color, 1%);
    &:hover {
      background-color: lighten($hero-background-color, 5%);
      color: #ddd;
    }
  }
  h1 {
    color:white;
    @include media($large-screen) {
    float:left;
    margin-right:2em;
  }
  }
  .hero-content {
    font-weight: 300;
    color: white;
    @include media ($horizontal-bar-mode) {
      font-size: 1.125em;
    }
  }
}