$article-top-margin: -2em;

.has-layout {
  // basic formatting for layout elements
  @include outer-container;
  margin-left:auto;
  margin-right:auto;
  @include pad(1em);
  aside, article {
    @include span-columns(12);
  }
  @include media($large-screen) {
    //@include pad(0);
    aside {
      @include pad(2em 0);
      background-color: $aside-background;
      &.top {
        text-align:right;
        h5, h6 {
          text-align: right;
        }
      }
    }
    article {
      @include pad(2em);
      margin-bottom:5em;
      background-color: $article-background;
    }
  }
}

.layout-2-column {
  @include media($large-screen) {
    aside {
      @include span-columns(2.75);
    }
    article {
      @include span-columns(9.25);
      margin-top: $article-top-margin;
      .copy {
        @include columns(2 4em);
      }
    }
  }
}

.layout-article {
  @include media($large-screen) {
    aside {
      @include span-columns(2.75);
    }
    article {
      @include span-columns(6.5);
      margin-top:$article-top-margin;
      .copy {
        @include columns(2 4em);
      }
    }
  }
}

.list {
  display: inline-block;
  margin-right: 1em;
  @include media($medium-screen-up) {
    display: block;
    margin-right: 0;
  }
}

.list-itemsWIP {
  @include columns(2 1em);
  @include column-rule(1px solid #ddd);
}
.list-item {
  margin-bottom: 2em;
  clear: both;
}

// @include media($large-screen) {
//   article {
//     margin-top: $article-top-margin;
//   }
// }
