{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH events #}
{# This page can use any data from http:localhost:2000/cms/#/form/events/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this events's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('events') }}">View a list of all events</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Grid: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in item.grid %}
            <li>
              <strong>Name: </strong>
              {{ row.name }}
            </li>
            <li>
              <strong>Start Time: </strong>
              {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
                {{ row.start_time|date('F d Y') }}
            </li>
            <li>
              <strong>Venue: </strong>
              {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
                {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
                <a href="{{ url(row.venue) }}">{{ row.venue.name }}</a>
            </li>
            <li>
              <strong>Description: </strong>
              {{ row.description }}
            </li>
        {% endfor %}
        </ul>
      </li>
  </ul>
{% endblock %}
