{% extends "templates/partials/base-layout-3-column.html" %}
{% block title %}{% parent %} - Events{% endblock %}

{% block content_aside_left %}
  <h2>Events</h2>
<ul class="listings">
{% for object in cms.organizations %}
<li><strong>{{ object.name }}</strong> {% if object.location %}<br /><small>{{ object.location}}</small>{% endif %} 

{% if object.links %}
<ul class="small">
  {% include "templates/partials/format-links-grid.html" %}
  </ul>
{% endif %}

</li>



{% endfor %}
</ul>
{% endblock %}

{% block content_center %}
  {% set data = cms.events %}
  {% set data = data|sort('publish_date', true) %}
  {% set data = paginate(data, 50) %}
  
  {% for object in data %}
    <h3 style="margin-bottom:.125em;"><a href="{{ url(object) }}">{{ object.name }}</a></h3>
      {% include "templates/partials/event-listing.html" %}
      <hr />
  {% endfor %}
    {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}

{% block content_aside_right %}{% endblock %}