{{$currentPage := .}}
{{ range .Data.Pages }}
  {{ with .Params.tags }}
    {{ range sort . "value" "asc" }}
      {{ $.Scratch.SetInMap "tags" . . }}
    {{ end }}
  {{ end }}
  {{/* {{ with .Params.category }}
    {{ range sort . "value" "asc" }}
      {{ $.Scratch.SetInMap "category" . . }}
    {{ end }}
  {{ end}} */}}
{{ end}}
{{ $category := $.Scratch.GetSortedMapValues "category" }}
{{ $tags := $.Scratch.GetSortedMapValues "tags" }}

  {{/* {{$category := true}}
  {{$tags := .Site.Taxonomies.tags}} */}}

<div class="sidebar-list">
  {{ with $category }}
    <h3 class="mb-2">
      {{- $.Site.Param "categoryName" | default "Categories" -}}
    </h3>
    <ul class="list-reset">
      {{ range . }}
        {{$url := printf "%s%s%s" ("/category/" | relLangURL) (. | urlize ) "/" }}
        <li class="inline md:block pr-3">
          <a href="{{ $url }}" class="no-underline text-grey-darker dim{{if eq $url $currentPage.URL }} active{{end}}">
            {{ . }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ with $tags }}
    <h3 class="mb-2">
      {{- $.Site.Param "tagsName" | default "Topics" -}}
    </h3>
    <ul class="list-reset">
      {{ range . }}
        {{ $url := printf "%s%s%s" ("/tags/" | relLangURL) (. | urlize ) "/" }}
        <li class="inline md:block pr-3">
          <a href="{{ $url }}" class="no-underline text-grey-darker dim{{ if eq $url $currentPage.URL }} active{{ end }}">
            {{ . }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
